[2020-11-30 07:15] Saksham20 opened #511 "organism field not showing in yaml as well as editor"
I have uploaded this dataset: https://gui.dandiarchive.org/#/dandiset/000045/draft
for which I'm unable to see organism related fields like species, age, sex etc. Its neither in the yaml file nor under the add fields option in the editor.
The nwbfiles have this info but under a custom extension of 'Subject'.

[2020-11-30 16:14] #509 closed

[2020-11-30 16:38] waxlamp opened #513 "Add a readonly JSON/YAML view of full metadata in the metadata editor"
This can be thought of as an escape hatch to show the raw metadata in cases where our heuristics don't reflect the exact metadata structure in the editor forms.

Derived from a mention in #510.

[2020-11-30 16:39] waxlamp commented on #510
Thanks for this suggestion, @satra; I've opened #513 to track this idea.

[2020-11-30 19:16] waxlamp commented on #504
Here's a Frankenstein's monster screenshot showing what we'd like (as described by Mike [above](https://github.com/dandi/dandiarchive/issues/504#issuecomment-724220824)):
![hybrid](https://user-images.githubusercontent.com/2903332/100652291-b4c36980-3314-11eb-8c5e-2c2ad0bb0986.png)

The placement of the shareable links menu is not correct; I placed it to the left of where it should go so it wouldn

[2020-11-30 21:49] AlmightyYakob opened #515 "Introduce TypeScript and Composition API"
The only requirement for this is to update the client configuration to support this. No file conversion is required initially.

[2020-11-30 21:50] AlmightyYakob commented on #510
@satra Since the new editor will be introduced soon, I don't plan on addressing this in the existing editor.

[2020-11-30 22:19] satra commented on #510
@AlmightyYakob - do you know why it stopped showing up in the existing editor? it used to in the past. it almost seems like something was made readOnly in some schema.

[2020-12-03 01:03] yarikoptic opened #517 "girder: reports size of 138.1GB but download is only 62GB"
It seems that large file's tail "got lost", or was it somehow internally chunked by girder?

File in question is https://girder.dandiarchive.org/#item/5fa5873c271e91aad754e5d4

<details>
<summary>Gory details</summary>

Originally ran into with a failure of https://github.com/dandi/dandisets/blob/master/tools/backups2datalad.py reporting
[code]
where
[code]
(so it was only 15GB before).  I thought

[2020-12-03 01:52] satra commented on #517
that dataset was updated recently with rawdata, did you do a refetch of the files?

[2020-12-03 02:04] yarikoptic commented on #517
That is what I am trying to do here - update datalad Datasets (or what do you mean by refetch?). But it is all unrelated - just look at the file in girder and try to download it

[2020-12-03 02:16] satra commented on #517
ah yes - the file on AWS in indeed half the size. out of curiosity, what would have happened in dandi-cli if the upload got interrupted?

and i suspect you have this file on smaug, since ben's group did the conversions there. so you could try to reupload to test as well.

but indeed this is worrisome. (let's flag the files like this where the local checksum mismatches the uploaded checksum)

[2020-12-03 16:59] mgrauer commented on #517
I'm trying to follow but not 100% sure I am following.

I think you are saying:

 * The correct file should be 138
 * AWS/S3 reports the current size to be 67 (incorrect compared to expected file)
 * Girder reports the correct size, but what it points to in S3 is wrong (partial file, 67)

Does Girder have the correct SHA, for the full file?

It seems like from what you are saying that S3 has a ful

[2020-12-03 17:32] yarikoptic commented on #517
yes

yes

I do not know if it points to a *wrong* file or file is truncated on S3 -- didn't check, but see below

in the metadata record we uploaded -- yes

no, I do not see full file pointed to in S3 bucket.  I did not check if that file it points to is just a beginning of the correct full file or a completely different file (which would also be worrisome/worse, hopefully not the case).

I have d

[2020-12-03 17:37] yarikoptic commented on #517
it stroke me: what is free diskspace and filesystem on girder instance? does it first ingest all the data for upload and then upload to S3 or does it somehow on the fly?

[2020-12-03 17:50] yarikoptic commented on #517
meanwhile -- to avoid any data loss -- I am proposing https://github.com/dandi/dandi-cli/pull/303

[2020-12-03 17:51] yarikoptic commented on #517
<details>
<summary>unless `file` is smart to identify pieces of hdf5 file as hdf5 file, I see no "data" among non-hdf5 files in the asset store -- so most likely it is just a truncated, and not that girder did some chunking</summary>

[code]
</details>

[2020-12-03 18:44] AlmightyYakob opened #518 "Switch from using Vuex to Direct-vuex"
This depends on #515, and should be addressed separately from that issue.

[2020-12-03 18:45] AlmightyYakob commented on #510
I'm not sure, it could be due to the recent schema updates.

[2020-12-05 18:17] satra opened #521 "do not show empty datasets by default"
We should not count or display empty datasets by default. There should be a toggle to display empty datasets.

[2020-12-07 14:15] satra commented on #511
@Saksham20 - this has been disabled for now. let me know which datasets need this info and i can add it in manually. the reason is that this should be pulled out of the NWB files in the future. But this transition will now happen within the new API server and updates.

[2020-12-07 14:16] satra commented on #496
I think this has been addressed.

[2020-12-07 14:16] #496 closed

[2020-12-08 14:01] Saksham20 commented on #511
all of the files are of the same species: Mus Musculus, their age and sex differ within files, can the metadata field sex, age have all those possible values as a list?

[2020-12-08 18:25] #515 closed

[2020-12-10 16:56] waxlamp opened #527 "Remove remaining uses of Girder REST API and fill in resulting "negative space""

[2020-12-14 15:49] dchiquit opened #529 "Update FileBrowser to use Django API"
Indeed this doesn't currently work. When navigating to that link, it seems it's trying to make an API call to girder, instead of the API. If we're going to merge to master with this, we should file an issue to track it.

_Originally posted by @AlmightyYakob in https://github.com/dandi/dandiarchive/pull/516#discussion_r535413481_

[2020-12-14 17:24] dchiquit commented on #529
Should be resolved by #525

[2020-12-14 17:31] #529 closed

[2020-12-22 18:23] bendichter opened #534 "trouble signing in with github"
https://user-images.githubusercontent.com/844306/102920441-c8b44400-4458-11eb-8319-258c5b4ebbbd.mp4

am I doing something wrong?

[2020-12-22 18:25] bendichter commented on #534
No problem on Safari

[2020-12-23 16:02] mgrauer commented on #534
I just tried with Chrome 87 and had no problem. Can you open your javascript console in Chrome and see if there are any errors when you try?

[2020-12-23 16:26] bendichter commented on #534
@mgrauer

Autofocus processing /#/user/login?returnTo=%7B%22name%22%3A%22home%22,%22query%22%3A%7B%7D,%22params%22%3A%7B%7D%7D#girderToken=AZAMjeOw3ZwjHLDuH1CaVXT2fOvhVFyz3iOmdlrUoRSnqEJR5ijewpuvWFZq60fP__#girderToken=EzzNZ9sj8DOLYLkyP7w8c2J8M1yco5S8vNIy5U6f8Sa6zL7SbEtU6T5Voddwf7oH__:1 was blocked because a document already has a focused element.

[2020-12-23 16:26] bendichter commented on #534
Version 87.0.4280.88 (Official Build) (x86_64)

[2020-12-23 16:29] mgrauer commented on #534
Thanks--we'll look into it, but it'll be delayed with the holidays.

[2020-12-23 16:30] bendichter commented on #534
Understood. Safari is a fine work-around for the time being.

On Wed, Dec 23, 2020 at 11:29 AM Mike Grauer <notifications@github.com>
wrote:

--
Ben Dichter, PhD
Data Science Consultant

[2020-12-23 17:11] satra commented on #534
@bendichter - you might want to clean out your app cache on chrome/brave.
![image](https://user-images.githubusercontent.com/184063/103021287-eb596200-4517-11eb-99c4-e3bfb47e1fb8.png)
and try logging in after that. this was something i reported a while back, but as far as i know the cause has not been tracked down.

[2020-12-24 19:29] bendichter commented on #534
@satra that worked, thanks!

[2021-01-15 16:51] satra opened #545 "add doi generation on publish"
we need to mint dois on publish. @yarikoptic has infromation about a test server that we can use to set this up.

[2021-01-15 17:07] yarikoptic commented on #545
indeed, now that we have new metadata schema formalizing up, time to start working on that.

[2021-01-18 23:05] waxlamp opened #546 "Show error messages when API calls fail"
See, e.g., https://github.com/dandi/dandiarchive/pull/544#discussion_r559791480

[2021-01-20 17:36] dchiquito opened #548 "Make file browser work with no prepended /"
The Dandiset file browser currently assumes that asset paths will always start with a `/`. The CLI does not, so the file browser needs to be tweaked to render those correctly.

https://github.com/dandi/dandi-api/pull/37

[2021-01-21 17:08] dchiquito opened #549 "Remove any type from Dandiset.most_recent_version"
The type of `most_recent_version` needs to be changed to `Version` once girderize is ripped out.

_Originally posted by @AlmightyYakob in https://github.com/dandi/dandiarchive/pull/547#discussion_r562035606_

[2021-01-25 17:21] yarikoptic opened #551 "DJANGO_API: interface shows ?? (not YH) when logged in"
![image](https://user-images.githubusercontent.com/39889/105741052-de110800-5f07-11eb-8dda-3070c8ca7fb4.png)

[2021-01-25 23:23] yarikoptic opened #554 "DJANGO_API: empty "View Data" whenever there is data"
initially reported in https://github.com/dandi/dandi-api/issues/65

<details>
<summary>there is 1 asset in a dandiset</summary>

[code]
</details>

but web ui shows empty browser

![image](https://user-images.githubusercontent.com/39889/105778419-64ded880-5f3a-11eb-9868-557a82624cc1.png)

[2021-01-25 23:28] yarikoptic opened #555 "Q: how/when https://gui-beta-dandiarchive-org.netlify.app is "refreshed"?"
#552 etc got merged but I guess https://gui-beta-dandiarchive-org.netlify.app/#/ is running some prior version, so I decided to ask

[2021-01-25 23:54] dchiquit commented on #555
I set another Netlify server pointed at another branch, `django-api`, which is identical to `master` except for having `DJANGO_API` enabled by default. Every time something is merged into `master`, I merge master into `django-api`. There's probably some automation that can be done, but it's probably more work to figure out than to just do the work manually.

I forgot to update `django-api` immedia

[2021-02-01 16:09] waxlamp commented on #551
@yarikoptic, are there any error messages in the developer console or the network tab when this happens?

[2021-02-01 16:17] dchiquito commented on #551
This was fixed in #552

[2021-02-01 16:17] #551 closed

[2021-02-02 16:19] waxlamp opened #561 "Set up a test deploy"
See [original discussion](https://github.com/dandi/dandi-api/issues/78#issuecomment-771713186).

[2021-02-03 14:17] yarikoptic opened #562 "(wrong) dandiset id persists within URL while browsing "drafts""
it probably does not apply to new api based one yet, but can't be certain due to outstanding #554

Originally reported by @djarecka in https://github.com/dandi/dandi-cli/issues/349#issuecomment-772103306 .
If you go to "drafts" folder while browsing some dandiset, that dandiset ID persists in url and even when you then switch to another dandiset. Steps to follow to see are in https://github.com/da

[2021-02-03 19:05] #554 closed

[2021-02-09 15:56] yarikoptic opened #565 "DJANGO_API: landing/browse on existing dataset keeps "spinning""
going to https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000009/0.210126.1624/files
just shows never ending "spinning bar"

might be related to now closed #554

[2021-02-09 16:02] yarikoptic commented on #362
In the light of #565 etc, it would indeed be very valuable if there was test battery to verify correct operation of the web UI.

[2021-02-09 16:23] yarikoptic opened #566 "DJANGO_API: search is of "no effect""
searching for anything seems to just list all dandisets for me, e.g. try

https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/search?search=abracadabra

[2021-02-09 16:48] satra opened #567 "Web frontend: Add sort by identifier"
currently there is no way to list the dandisets by identifier. originally this would have matched created in the girder server, but not in the new API.

[2021-02-09 16:50] satra commented on #565
there is no published version on that dandiset. however, we should show a UI response that either says version not found or something.

[2021-02-09 16:55] yarikoptic opened #568 "< > (prev next) buttons to go to the previous / next dandiset within dandisets pages"
ATM it is not that easy to quickly "skim" through dandisets landing pages -- need to jump through the dandisets listing, e.g.
https://gui-beta-dandiarchive-org.netlify.app/#/dandiset?page=4&sortOption=0&sortDir=1
to go to the next (e.g. according to its identifier) one.  I think it would be of a nice user- and developer- experience to be able to quickly jump through landing pages of dandisets.  Es

[2021-02-09 17:16] yarikoptic commented on #565
in a rush/mess of things -- it used to be a published dandiset (thus I got that URL) which I later overloaded with the one from girder instance.  I am no longer 100% certain, but pretty certain that when I filed this issue it was not yet "overloaded".  But oh well -- I guess we will figure out if all is good after we upload some files to draft and "publish" .   So it might be the same issue "visua

[2021-02-09 18:39] yarikoptic commented on #567
;) I thought to file such a wishlist item but then decided that it might not be really worth it in the long run: upon migration we would just upload all original dandisets in the order of their dandiset identifiers.  Any new dandiset would be created after and thus order by creation date would be good enough.   But now I am thinking: that may be instead of "Created" we should indeed have two: "Ide

[2021-02-09 19:30] yarikoptic commented on #565
similar issue for just going to some dandiset which doesn't exist , e.g. ATM there is no https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000004

[2021-02-09 22:05] yarikoptic opened #569 "DJANGO_API: absent "select" to bring up metadata/actions (Delete) pane for selected asset(s)"
ATM there is no way to visualize metadata for an asset or to perform "Delete" operation on the asset in new api based web UI

[2021-02-09 22:08] yarikoptic commented on #561
just to make it clear (since not much detail in description here): this is for "post-migration" since meanwhile we could just torture  https://gui-beta-dandiarchive-org.netlify.app/ instance (which is pretty much the test deploy), correct?

[2021-02-09 22:09] yarikoptic commented on #555
I believe automation was done via github actions https://github.com/dandi/dandiarchive/actions?query=workflow%3A%22Update+django-api%22  , thus closing.  Please reopen if I am wrong

[2021-02-09 22:09] #555 closed

[2021-02-09 22:55] satra commented on #561
also to clarify the database behind this and the bucket behind this would not be the production databases or buckets.

[2021-02-10 14:47] waxlamp commented on #561
Both of you are correct. My vision of this is to set up a totally separate copy of the app that we can use to do any testing without fear of breaking anything that matters. But we should hash out details "post migration".

[2021-02-16 18:38] yarikoptic opened #570 "DJANGO_API: takes awhile for "download" buttons to appear"
Going to https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft/files?location=sub-mouse-AAYYT%2F leads to "Download" to appear one at a time and only after a number of seconds

NB I am ATM uploading to that dandiset, so might be effecting, but imho should not happen

[2021-02-16 18:40] yarikoptic opened #571 "DJANGO_API: download of an asset fails"
follow up to #570 (I think it was first file within https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft/files?location=sub-mouse-AAYYT%2F) -- I have waited for all download buttons to appear and then waited for a while for download to start but it only gave me "heroku --tail" or alike log message that there was an error -- so please check in the logs what happened.  After I finis

[2021-02-16 19:08] yarikoptic opened #572 "DJANGO_API: takes awhile to open or navigate a dandiset"
Took me 23 seconds of the spinning wheel to see https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft , and even then after details appeared the spinning wheel is still spinning.   Clicking on "View data" also took > 35 seconds (sorry didn't time).
As for overview page, I have not done any analysis but my wild guess it might be due to stats on number of files and total size being r

[2021-02-16 19:16] dchiquito commented on #570
[code]

[2021-02-16 19:29] yarikoptic commented on #570
Boosting resources would be great. But also memory profiling and optimization I guess since I don't see where data size should matter much and we only touched the server with a few files

[2021-02-16 19:32] yarikoptic commented on #570
Although, I guess buffer size for checksumming could be affecting and it should be reasonably large I guess

[2021-02-16 21:59] dchiquito commented on #570
I believe the API timeouts are because of some poorly conceived API implementation.

When a version (probably `draft`) is serialized, we want to return the total size of the version, so we calculate it by fetching all (!) assets in that version and summing the size of each asset. Sadly, the only thing that is stored on the `AssetBlob` is an S3 path, so for each asset, a HEAD to S3 has to be perfor

[2021-02-16 23:02] #570 closed

[2021-02-16 23:10] dchiquito commented on #570
@yarikoptic we are no longer attempting to DDOS S3, so it should be better now. Let us know if you run into more performance issues.

[2021-02-16 23:27] yarikoptic commented on #570
THANK YOU! It does feel much better now indeed!

[2021-02-17 19:38] yarikoptic opened #573 "DJANGO_API: view data - going back in browser history visits top directory twice"
not sure how it happens but if you go to e.g. https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft/files and then to some directory, and press "back" you end up on https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft/files?location= and only after 2nd "back" on https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/draft/files. It makes navigation a bit o

[2021-02-19 15:54] waxlamp opened #574 "Ensure dandi-cli can correctly upload datalad dandisets to Django API"
This is a prerequisite to carrying out a full migration. It is specifically about making sure that a datalad-mirrored dandiset can be uploaded through the Django API as equivalent to the original Girder API dandiset. No special support for datalad is needed.

[2021-02-19 16:09] waxlamp opened #575 "Create a procedure to validate post-migration dandisets"
This is a "meta task"--we need to formulate some tooling and/or process to convince ourselves of the integrity of dandisets in the Django API after migration is complete. This is separate from any process we may have to perform dry or semi-wet runs, and is more about doing a final check after the main migration happens.

[2021-02-19 16:16] yarikoptic commented on #574
by "datalad dandisets" you mean the dandisets we placed under datalad control and present on https://github.com/dandisets, but otherwise they should be just the same dandisets as available from https://gui.dandiarchive.org/ right?

NB asking because it could be some "native datalad support" within dandi-cli to be able to "smartly" (reusing checksum info etc) upload to the archive (not yet planned

[2021-02-19 16:22] waxlamp commented on #574
I should have been clearer, apologies. This reflects my incomplete (but growing) understanding of how things are organized in this project.

My understanding is that some of the dandisets have been "mirrored" in a sense via datalad so that they are available locally to you. This issue has to do with making sure that those dandisets can be properly uploaded to the Django API in a way that makes the

[2021-02-19 16:36] yarikoptic commented on #574
Yes, correct. Just note that they are available not just to me but to everyone as well. I just have an original clone with all data fetched, but anyone can get a similar copy if needed (eg if my server goes bust) as long as there is a an original girder blob store in the bucket

[2021-02-22 22:39] dchiquito opened #576 "Delete asset button"

[2021-02-23 01:57] yarikoptic commented on #576
Labeled, related to #569

[2021-02-23 22:57] waxlamp opened #577 "Create a procedure for carrying out the actual migration"
Here's a Google doc where we can refine the plan: https://docs.google.com/document/d/1oEXA0KefRqxzU6s3x52hV_k5mlbVjIrvs_GIfbsNhvk/edit?usp=sharing

[2021-02-25 14:41] yarikoptic opened #579 "DJANGO_API: still highlights released if go to "draft" right after publishing"
probably because datetime is still matching a (just) released/published version to prevent "re-publishing"

![image](https://user-images.githubusercontent.com/39889/109169227-97543f00-774d-11eb-99ee-53501a02c84e.png)

[2021-02-26 14:12] yarikoptic opened #580 "FOI: load testing library"
FOI == For Our Information

Just ran into https://molotov.readthedocs.io/en/stable/ which I thought would be quite nice to (ab)use on our instance, especially while in development (may be within dedicated docker composed instance).

[2021-02-26 14:15] yarikoptic opened #581 "Test: "brownian motion" through the website"
Somewhat inspired by how nicely selenium worked out for me for https://github.com/dandi/dandi-api-webshots ([its ugly dirty script is here](https://github.com/dandi/dandi-api-webshots/blob/master/tools/make_webshots.py)), I thought it would be nice if there was a test which just randomly wonders around the website (without being authenticated etc) and checks that
- no page is tuck for longer than

[2021-02-26 14:55] satra commented on #581
we have a subscription to browserstack automate, which may have some settings to do that.

[2021-03-01 14:32] satra commented on #387
this class lists all the properties that need to be computed from assets:
https://github.com/dandi/dandi-cli/blob/master/dandi/models.py#L456

this is the metadata key of the dandiset that needs to be populated with this:
https://github.com/dandi/dandi-cli/blob/master/dandi/models.py#L774

and this information would need to be done to compute archive stats and display on the landingpage.

[2021-03-01 14:33] satra commented on #387
@waxlamp @djarecka - here is the stats issue.

[2021-03-03 16:33] waxlamp commented on #132
Closing because the new API provides a Docker compose setup that works for John and Yarik.

[2021-03-03 16:33] #132 closed

[2021-03-03 16:36] #277 closed

[2021-03-08 16:54] yarikoptic opened #582 "DJANGO_API: reuploaded asset (but reused blob) has no download button"
just recreated 00003 and re-uploaded a file (after dandi-api migrated to new assets UUID handling) .  It seems that it reused the blob already in the store (I thought we are starting anew... may be we are but code is not aware and accesses some dated DB? might be related or not)

if you go to
https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000003/draft/files?location=sub-YutaMouse20%2F
th

[2021-03-08 17:14] dchiquito commented on #582
The database was wiped, but the data in the bucket was not.
I'm not sure why the download button wouldn't be rendering. I will wipe the DB again and try to reupload that file.

[2021-03-08 17:34] dchiquito commented on #582
I reuploaded https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000006/draft/files?location=sub-anm369962%2F because that's what I had handy, everything seems fine with the data. The download button is still missing.

After inspection it seems like the frontend was relying on the `GET .../assets/{uuid}` endpoint to also return version/dandiset information. That information is already availab

[2021-03-08 19:47] yarikoptic opened #584 "Establish at least basic "Integration" with neurostars"
"Integration" could entail just implementing basic referencing, but could be more later
- [x] we already have `dandi` tag on neurostars.org
- [ ] add "neurostars" link to the dandiarchive.org website, even if without specific linkage to dandisets, could be "Community: [search](https://neurostars.org/search?expanded=true&q=tags%3Adandi) or [ask a new question](http://whateverlinkshouldbe-to-lead-to

[2021-03-08 19:51] #582 closed

[2021-03-08 22:04] waxlamp opened #585 "Create an asset delete button"

[2021-03-08 22:06] waxlamp opened #586 "Display asset size in file browser"
The file viewer used to show the size of assets inline so that, e.g., a person would know what to expect when downloading something.

See #644 for a user complaint about the lack of this feature.

[2021-03-08 22:21] waxlamp opened #592 "Investigate issue with meditor loading in dandisets 26 and 27"

[2021-03-08 22:32] waxlamp opened #587 "Display asset metadata on asset selection"

[2021-03-08 22:40] #585 closed

[2021-03-08 22:43] waxlamp commented on #569
Closing in favor of #576 and #587

[2021-03-08 22:43] #569 closed

[2021-03-08 22:44] waxlamp commented on #566
This has been solved.

[2021-03-08 22:44] #566 closed

[2021-03-08 22:48] waxlamp commented on #572
Fixed via dandi/dandi-api#120

[2021-03-08 22:48] #572 closed

[2021-03-08 22:49] waxlamp commented on #517
This will be mooted by the migration.

[2021-03-08 22:49] #517 closed

[2021-03-08 23:27] AlmightyYakob opened #588 "Optimize loading of meditor on dandisets with large metadata"
When trying to click the "Edit Metadata" button on the Dandiset Landing Page, there's quite a delay in switching to the new view, when there's a lot of metadata on that dandiset (likely due to the large amount of component rendering / data validation that occurs). A good example of this is dandiset [000004](https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000004).

We should look into ways

[2021-03-11 14:06] AlmightyYakob commented on #485
Closed via #564

[2021-03-11 14:07] #485 closed

[2021-03-11 16:29] dchiquito opened #594 "Add toggle around Create Account button"
This LGTM and I can't find anywhere in the code where `girderRest` is used when `DJANGO_API` is enabled _except_ right here:

https://github.com/dandi/dandiarchive/blob/12120b29a20a23991689bdb52d02753c0d62aa86/web/src/views/UserRegisterView/UserRegisterView.vue#L45

You can also see this by going to the gui beta depoyment register [page](https://gui-beta-dandiarchive-org.netlify.app/#/user/registe

[2021-03-17 18:09] yarikoptic commented on #565
FWIW -- issue persists (we have 000004 now, try https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000114)

[2021-03-17 18:14] yarikoptic opened #595 "DJANGO_API: getting API key displayed for a newly registered user requires extra click"
earlier today I have registered a `dandibot` user for https://github.com/dandi/dandi-api-webshots/pull/10#issuecomment-801196656 . Registration went smoothly and I was shown to be logged in as `??` in the right corner blue circle.  @jwodder reported some unexpected behavior while trying to use credentials to login for webshots using seleniumin that PR changes. When I clicked on the `??` I saw empt

[2021-03-17 18:22] yarikoptic commented on #55
FWIW, we do have (for awhile now) DataLad datasets automagically produced/auto-updated and all linked under https://github.com/dandi/dandisets and http://datasets.datalad.org/?dir=/dandi/dandisets.  They use sha256 based git annex backend.  After refactoring of the archive to use dandi-api we should be able to provide "native" (from the archive) access to data blobs based on sha256.  Meanwhile I c

[2021-03-19 20:36] #576 closed

[2021-03-22 23:45] AlmightyYakob commented on #592
After some initial investigation, I believe this is an issue in the underlying component [VJSF](https://github.com/koumoul-dev/vuetify-jsonschema-form). I'd like to investigate some more, but I've been blocked by an unrelated bug and will need to continue tomorrow.

[2021-03-24 18:26] yarikoptic commented on #579
still the issue
- URL keeps pointing to `draft` instead of the released version
- clicking on "DRAFT" among versions does not do anything (i.e. version is being highlighted)

So it seems that it is just web ui issue that it highlights a "published" version even though it is still really on the "draft"?

[2021-03-24 18:35] yarikoptic commented on #574
dandi-cli can (again) upload to Django API as of dandi-cli 0.12.0-22-g089101e and dandi-api somewhere around d03491247c5ef3fb632b08996dc941822bbdf8a0 (see https://github.com/dandi/dandi-api/issues/36, no version can be deduced ATM).

[2021-03-24 18:35] #574 closed

[2021-03-24 19:33] yarikoptic opened #596 "DJANGO_API: Delete icon should not be present for released assets + should actually delete the asset"
May be it is available to me because I am super-dooper user? if so, then I guess we might want indeed to allow for that but then it should actually do that evil.

I went to https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000008/0.210324.1822/files?location=sub-mouse-ALHXK%2F and it showed all Red Delete trashbins, I clicked on one and it said that it is the end of the world and no way bac

[2021-03-25 12:32] yarikoptic opened #597 "DJANGO_API: 000003 was freshly updated but dates/sizes are wrong and goes to a release not draft"
I finished uploading (2.6 TB) on Mar 24 21:27:01, and ATM (Mar 25 08:27) going to https://gui-beta-dandiarchive-org.netlify.app/#/dandiset lists it as
![image](https://user-images.githubusercontent.com/39889/112472941-17b59200-8d44-11eb-9635-1586933ab904.png)
and clicking on it ends up being in an empty released version.

Clicking on draft - it does get to a populated one but still says "Last upda

[2021-03-25 15:13] waxlamp commented on #592
Update on this: after this morning's meeting, I believe the fix is the following:
- short term: manually delete the "weird empty entities" from the metadata for dandisets 26 and 27
- long term: do nothing, because dandi-cli will not produce broken metadata that would trigger this bug

@satra and @yarikoptic, if you agree with the short term fix, I can institute it immediately. Please let me know.

[2021-03-25 15:31] satra commented on #592
since we will be uploading/wiping uploading things. at least in the first place this should be tested with some non-missing metadata. but perhaps the clearer thing is to check if this can be fixed in dandi-cli when we do the metadata conversion.

there is a difference between missing metadata and invalid metadata and we should address this on the CLI side.

[2021-03-25 15:36] AlmightyYakob commented on #592
Could you clarify what you mean by this? Missing/invalid can mean a lot of things here. And what behavior would we be testing exactly?

[2021-03-25 15:43] satra commented on #592
missing is when an item is missing (and this ok for meditor, which would allow creating a new item). invalid  is when one cannot do a roundtrip on the field or model. i.e. the code raises an exception. (and this should happen via the CLI)

invalid metadata (from a publishing sense) is when the required fields have not been provided. here the CLI and the Web UI needs to align. a complicating factor

[2021-03-25 15:51] AlmightyYakob commented on #592
I guess I'm just confused on what we'd be aligning specifically. What should the meditor do if it encounters invalid metadata?

[2021-03-25 16:05] satra commented on #592
i think there is some semantic mixup happening. so let me separate into:

- invalid dandiset metadata (the entire contents of the metadata field returned by the server, and may contain missing properties)

- invalid property (which is any property that contains values it should not be containing)

- a third of option is missing properties (key and value), which i am assuming the meditor can handle

[2021-03-25 16:18] yarikoptic commented on #592
+1 on fixing it in client in addition to manually fixing metadata meanwhile in girder since client no longer uploads dandiset.yaml for existing datasets. Please file an issue there with details/example (or a PR) and link it here

[2021-03-25 16:40] AlmightyYakob commented on #592
Just talked offline with @satra, clarifying that there's **no** action needed on the client side.

[2021-03-25 16:42] AlmightyYakob opened #598 "Disable Meditor save if metadata invalid"
Currently, you can save invalid metadata in the Meditor. We should disable the top level save button if the full metadata is invalid.

[2021-03-25 17:39] satra commented on #592
and by client he meant Web client ! i'll file an issue on the CLI side.

[2021-03-26 13:21] yarikoptic opened #599 "DJANGO_API: Double / / if have 3rd level directory"
See current test ds https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/010000/draft/files?location=sub-1%2Fsub-1_ses-10_cell-1.z%2F (goes a bit further than our 2 level `dandi organize`'ed datasets, as eg might happen later with zarr or any BIDS dataset with sessions)

![image](https://user-images.githubusercontent.com/39889/112637507-9f6ad180-8e14-11eb-9de7-4448f07da9e1.png)

[2021-03-26 13:24] waxlamp commented on #592
Since the "investigation" mentioned in this issue is complete, I will close. @satra, feel free to link the new dandi-cli issue in this thread in order to provide historicity.

[2021-03-26 13:24] #592 closed

[2021-03-26 13:26] yarikoptic opened #600 "DJANGO_API: takes awhile to get to the 2nd level subdirectory for a dandiset"
To facilitate future support of large (in # of files, https://github.com/dandi/dandi-api/issues/78) dandisets I am in the midst of uploading a test dandiset with 1,000,000 assets . By now (running for probably 18 hours) uploaded only about 43k according to the summary of https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/010000/draft .

An interesting behavior already showed up.
- navigate:

[2021-03-26 13:49] yarikoptic opened #603 "DJANGO_API (beta instance): should provide correct download command"
If you click on "Download" for any dandiset you would see instructions like

[code]
but that would redirect to our original (girder) instance.  Sure thing it would be correct after we migrate fully.  But in preparation for migration we would like to invite users (during hackathon) to try out API and new Web UI.  This would bring confusion/questions.

One possible solution (without involving tuning

[2021-03-26 22:29] yarikoptic opened #604 "DJANGO_API: Publish: add textbox for user to describe about to be published version"
to be implemented after support for that added to the API: https://github.com/dandi/dandi-api/issues/189 (see reasoning for such a feature in that issue)

Ideally web ui, upon Publish should provide a pane with "Publish" and "Cancel" buttons which would have
- version to be published (could be in the title)
- text box with pre-populated grayed out text encouraging a good practice following git com

[2021-03-29 14:50] waxlamp commented on #565
Just to be clear, the issue here is that for a well-formed URL pointing to a dandiset that doesn't exist, rather than a 404-based error, we're showing an infinite spinner. Is that right?

[2021-03-29 14:53] waxlamp commented on #595
I'm not able to reproduce this, perhaps because I did not have to create a completely new user (since I am already logged in to my only GitHub account in this browser).

Do you have a consistent way to trigger this error?

[2021-03-29 14:55] satra commented on #565
correct.

[2021-03-29 15:37] yarikoptic commented on #595
haven't tried to come up with a consistent recipe.  But may be try in incognito window like I did originally?

[2021-03-29 15:59] satra commented on #377
@djarecka - it seems like this was never finalized. but would have addressed a bunch of your issues. i'm going to go to the open PR for any further discussion.

[2021-03-29 16:02] satra opened #605 "licenses on dandisets"
a license is a required element of every dandiset. can we add license selection when someone creates a dandiset (at present we are only allowing cc0 and ccby. the license types should be pulled in from dandi schema.

[2021-03-29 17:26] djarecka commented on #377
@satra - ok, so I will ignore the issues for now and will concentrate on dandisets that seed to have everything

[2021-03-30 15:42] tgbugs opened #606 "issues with gihub oauth for registration"
I get the following messages when I try to register via GitHub. I got an email from GitHub telling me that the link had been made, but dandi doesn't seem to have made the link. I'm also seeing a `502` error to `https://girder.dandiarchive.org/api/v1/oauth/github/callback?code=4415a06dae5631ee8123&state=Ej0lUivdkcXgfH8MBLrtR6Ee1lXHHy2hzqpbL2l6bkEARDvJyMVlo9H7ITecLDRn.https%3A%2F%2Fgui.dandiarchive.

[2021-03-30 15:45] satra commented on #606
that's weird. i'm assuming you do have a registered email address :) the oauth process does request that scope as far as i know.

[2021-03-30 15:50] satra commented on #606
@mgrauer - any thoughts here? i don't see the user on girder. @tgbugs - just to clarify you went through dandiarchive.org right?

[2021-03-30 15:57] satra commented on #606
can you try to redo it after clearing any session storage. (at least on chrome/brave: developer tools-> application-> clear stite data).

[2021-03-30 16:03] tgbugs commented on #606
No site data in firefox or chrome, same issue on both browsers.

[2021-03-30 16:39] mgrauer commented on #606
@tgbugs @satra and I debugged this in the NWB/DANDI hackathon together in Gathertown. The issue was that @tgbugs didn't have a verified email in GitHub. Once he verified his email in GitHub, he was able to register on the Dandi GUI (Girder based).

[2021-03-30 16:39] #606 closed

[2021-03-30 16:41] tgbugs commented on #606
Thanks for the debug, I have no idea how that one was unverified, but apparently it was.

[2021-03-30 22:02] #594 closed

[2021-04-01 22:00] yarikoptic opened #609 "DJANGO_API: Publish of a dandiset during upload silently does nothing"
I am still uploading https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000020 which is large in numer of files.  To check if I can publish while it is being uploaded (as it was suggested on what has happened in https://github.com/dandi/dandi-api/issues/199#issuecomment-811929491) -- I pressed Publish when it was at about 1900 files uploaded.  Nothing happened. Pressed again a few times - no

[2021-04-02 01:16] yarikoptic commented on #609
Silly me should've specified the version to publish not there desired version for it, so you get a  500 then without details

[2021-04-02 01:28] satra opened #610 "DJANGO_API: adding trailing `/` to download links"
currently download links in the ui do not have a trailing `/` .  this makes two hops to get to the s3 location. first django will add a / and then that will get processed. the UI should provide the same download functionality as the contentUrl in the returned asset metadata and should insert the trailing `/`.

[2021-04-02 13:59] yarikoptic commented on #610
<details>
<summary>FWIW -- confirming with wget -S:</summary>

[code]
</details>

[2021-04-02 16:13] #610 closed

[2021-04-02 18:33] yarikoptic opened #613 "DJANGO_API: provide some feedback to the user whenever interaction with dandi-api resulted in error"
"Inspired" by https://github.com/dandi/dandiarchive/issues/604
ATM there is no visible feedback to the user and it just leaves user puzzled either he/she has done something incorrectly or it is an internal issue.  I think web UI should have some popup message (which can disappear after a while) which would inform that error has happened, may be with at least the end-point and type (error code and

[2021-04-05 13:43] yarikoptic opened #614 "DJANGO_API: ensure that schema version handling is in sync (dandi-cli, web-ui, and dandi-api)"
Just a stab that before we click "migrate" we are in sync on what metadata version is defined (dandi-cli), created (dandiarchive), expected (dandi-api)

[2021-04-05 20:25] waxlamp commented on #614
The API and the web UI are currently using schema version 0.1.0. Is that what dandi-cli is using?

[2021-04-05 21:16] satra commented on #614
dandi-cli is at `0.2.0`

[2021-04-06 17:17] dchiquito commented on #614
https://github.com/dandi/dandi-infrastructure/pull/51 should fix this for now

[2021-04-06 17:18] #614 closed

[2021-04-07 01:40] yarikoptic commented on #600
Just ran into https://github.com/open-telemetry/opentelemetry-python and wondered if it could come handy if issue boils down to dandi-api

[2021-04-09 15:08] yarikoptic commented on #491
ok, current state of things is that it would remain just in dandiset metadata and it would be for `dandi-cli` to treat it separately.  I think we might come back to this later on, but I will close it meanwhile

[2021-04-09 15:08] #491 closed

[2021-04-09 15:09] yarikoptic commented on #356
in dandi-api implementation we will rely on assets UUIDs in the API/keystore

[2021-04-09 15:09] #356 closed

[2021-04-09 15:12] yarikoptic opened #617 "DJANGO_API: Publish button should not appear for an empty (no assets) dandiset"
Since `dandiset.yaml` is not an asset, freshly created or even with modified metadata dandiset is empty, and should not be allowed to be published.  No point to have Publish button (although could be just channeled via error from dandi-api, I think it would be a better UX to not have it/have it disabled)

[2021-04-09 15:13] yarikoptic opened #618 "DJANGO_API: Publish button is still there for me"
For migration we decided to postpone exposing `Publish`  functionality.  I still see `Publish`, but may be just because I am an admin @dchiquito ? (yet to try from regular account)

[2021-04-09 15:42] yarikoptic commented on #534
I think this particular one was troubleshooted and could be closed

[2021-04-09 15:42] #534 closed

[2021-04-09 15:44] yarikoptic commented on #357
Just FTR: current meditor lives in/around https://github.com/dandi/dandiarchive/blob/e14af6c1959e0a460cdb92df9bdf4c7e7e27fb2f/web/src/views/DandisetLandingView/Meditor.vue

[2021-04-09 15:46] yarikoptic opened #620 "Make "title" for the back button clickable as well"
ATM , e.g. on https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/000003, we have `<-- Dandiset Dashboard` where only smaller `<--` is clickable and `Dandiset Dashboard` is just text. IMHO it would be a better UX if the entire `<-- Dandiset Dashboard` would be a clickable element leading to the dashboard

[2021-04-09 16:08] yarikoptic commented on #102
As a sailing on a shake down cruise, I can attest that it would be wonderful, and AFAIK should be quite simple (as @satra demonstrated) to at least populate name and affiliation .

[2021-04-09 19:09] yarikoptic commented on #565
retitled... I think this is what causes webshots (https://github.com/dandi/dandi-api-webshots) to time out and entire action to error out if someone removes some dandiset while webshots are going through pre-fetched list of dandisets

[2021-04-09 19:20] satra opened #621 "back arrow from metadata page returns to page 1"
When the back arrow is clicked on viewing the landing page of a dandiset after browsing dandisets, it takes one to the first page of listings. in that case the icon should be replaced with a home icon. if not, it should take you back to the last state.

[2021-04-13 15:24] waxlamp commented on #618
@yarikoptic, I believe you reported that for a non-admin user, you no longer see the publish button. Please reopen if that's not the case.

[2021-04-13 15:24] #618 closed

[2021-04-13 21:13] satra opened #622 "Token does not refresh when refresh icon is clicked"
the refresh functionality on the current or future ui is not working. it does not generate a new token with the appropriate scopes. i think we have run into it in a couple of cases.

i also checked on the gui-beta and it didn't refresh either when i hit refresh.

i think tokens should refresh whenever a user wants them to.

[2021-04-14 15:13] satra opened #623 "metadata not being shown for a dandiset 26"
https://gui.dandiarchive.org/#/dandiset/000026

[2021-04-14 16:10] yarikoptic commented on #623
https://github.com/dandisets/000026 says  1205 files, 863.7 GB, and shows that it is not in DANDI layout (may be that somehow matters)

console in the browser gives error:
[code]

[2021-04-15 16:31] bendichter opened #625 "dandiset images"
I was checking out SPARC data on https://discover.blackfynn.com/ and looking at their published datasets page:

![image](https://user-images.githubusercontent.com/844306/114904997-740d4e00-9de6-11eb-83d7-1f082f7e111b.png)

I like their use of images for datasets. What do you all think of offering a similar feature for DANDI?

[2021-04-15 17:05] rly opened #626 "Searching on search results page does not update results"
After searching with a term and going to the search results page, e.g., https://gui.dandiarchive.org/?#/dandiset/search?search=steinmetz , entering a new search term and pressing enter / clicking the search icon does not update the results. The URL does update, and the search results do update when I refresh the page though.

[2021-04-15 17:10] satra commented on #626
i believe this is fixed in the new GUI (hopefully rolling out early next week):

https://gui-beta-dandiarchive-org.netlify.app/#/dandiset/search?search=steinmetz

[2021-04-15 17:11] #626 closed

[2021-04-15 21:47] satra opened #627 "edit metadata shows up for non-owner datasets"
i can click on edit metadata for non-owner datasets.

three options (in order of preference):
1. change to view metadata and make it completely readonly (i believe there is an option in the component to do this)
2. change to download metadata (and link to the metadata returned by the api)
3. disable this.

[2021-04-15 21:59] AlmightyYakob commented on #623
There's a couple things at play here. The first is that the schema was changed, so the GUI looks for `contributor.roles`, when it should be looking for `contributor.roleName`. However, that isn't occurring here, because this data is old, and still in the Girder system. The other case (that caused this) is if any contributor is missing the proper role field, it fails because it's using that field t

[2021-04-16 22:10] satra commented on #625
i like the idea a lot. we can have people upload a thumbnail image with their dataset.

[2021-04-18 20:30] waxlamp opened #629 "Migration execution plan"
- [x] 1. Prepare email text to send to users (@satra)
- [x] 2. Prepare a downtime message in a public webpage (@satra)
- [x] 3. Email all users about the downtime (@satra)
- [x] 4. Repoint girder.dandiarchive.org and gui.dandiarchive.org to dandi.github.io (@waxlamp)
  - [x]  [PR](https://github.com/dandi/dandi.github.io/pull/28): Add a maintenance notice to github pages
  - [x]  [PR](https://gith

[2021-04-18 20:32] waxlamp commented on #629
Hi everyone - I've created this GitHub issue to make it a bit easier to coordinate the many actions that we'll be taking this week to execute the migration and turn off the Girder instance permanently.

I have listed out the steps and assigned points of contact for each. Feel free to discuss here if you need help with any step, or simply report progress, etc.

[2021-04-19 14:02] yarikoptic commented on #629
FWIW: expanded the `cli` part - AFAIK no new release of `cli` would be needed any longer.  Reality would show if that is true ;)

[2021-04-19 14:09] satra commented on #629
@mgrauer - changed item 6 to 4. it's not just an nginx config i believe. i'm ready to send out the email.

[2021-04-21 16:35] satra opened #635 "extra / when delving into path"
also a weird extra `/`
![image](https://user-images.githubusercontent.com/184063/115589020-5f74fe00-a29d-11eb-8259-7ab532ecc047.png)

(also @dchiquito - any particular reason for the api not to return a set of nested objects with minimal info: name, size, download link - if asset)

[2021-04-21 17:30] satra opened #636 "css fix for user experience"
would it be possible to fix the css/vuetify controls such that the top row and each individual item in the list fit the view.

![image](https://user-images.githubusercontent.com/184063/115595966-90f1c780-a2a5-11eb-92a0-7d0c2c84d05e.png)

[2021-04-21 17:47] waxlamp commented on #636
Is this a specific concern for mobile? And is the problem that the text runs off the right edge, rather than wrapping?

[2021-04-21 17:52] satra commented on #636
generally for any narrow viewframe, not just mobile. and yes, the issue is that some specific containers are not responsive.

[2021-04-22 21:58] satra commented on #147
closing - no longer relevant.

[2021-04-22 21:58] #147 closed

[2021-04-22 22:01] satra opened #638 "download links take a long time to load"
~https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=sub-I46%2Fmicroscopy%2F~
https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=rawdata%2Fsub-I46%2Fses-SPIM%2F

in this view, it takes forever to create download links.

[2021-04-22 22:02] satra opened #639 "no search capability within file view"
https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=sub-I46%2Fmicroscopy%2F

if a standard browser search is used, it doesn't select or show any entry.

[2021-04-23 12:25] satra commented on #635
actually every depth has an extra `/`

![image](https://user-images.githubusercontent.com/184063/115870607-76d2f900-a40d-11eb-98fb-ca641fb9e5d3.png)

[2021-04-23 12:34] yarikoptic commented on #635
duplicate of #599

[2021-04-23 13:06] satra commented on #599
@sanuann - this should be a simple fix and perhaps a way to get used to the codebase. could you please send a PR to fix this?

[2021-04-23 13:07] #635 closed

[2021-04-23 18:12] #627 closed

[2021-04-23 19:20] waxlamp commented on #629
Well done @yarikoptic @satra @dchiquito @mgrauer and @AlmightyYakob!!

[2021-04-23 19:20] #629 closed

[2021-04-23 19:44] mgrauer commented on #629
Amazing job organizing this @waxlamp ! and great work from the team to coordinate and grind it out!

[2021-04-24 00:14] satra opened #641 "dandiset doesn't show up under my dandisets for an owner."
@colleenjg cannot see the following dandiset under "my dandiset".

`curl -X GET "https://api.dandiarchive.org/api/dandisets/000037/users/" -H  "accept: application/json"`

[code]

[2021-04-24 21:53] yarikoptic opened #642 "Add contact support button"
May be that is what @satra already aiming for with helpdesk repo, but I might beat him to an issue: contact support button could then open new issue in that repo with a template and possibly information about which dandiset or just an origin page.

Cons: users will not search for already existing issues first. But I guess we could figure that out if duplicate issues appear in excess

[2021-04-25 14:41] satra commented on #642
indeed that was the plan. and since people can log in with github, we can even have a simple user interface on the gui that uses their Github authorization to post an issue or discussion to the repo.

the main thing is i wanted to channel issues into a central place that we can then transfer to specific repos that may address the issue. i also wanted a central place for people to request features

[2021-04-26 13:06] dchiquito commented on #641
The issue was that the email used to sign up in girder was different from the email associated with the GitHub account. I gave the GitHub account the proper permissions and deleted the placeholder user.

@colleenjg can you verify that you have access now?

[2021-04-26 13:49] colleenjg commented on #641
It works now, thank you!

[2021-04-26 13:50] #641 closed

[2021-04-28 16:17] rly opened #644 "Can no longer see how big NWB files are before download"
![image](https://user-images.githubusercontent.com/310197/116437584-70c08c00-a802-11eb-82d8-395133b0c385.png)

Previously, IIRC, the web interface showed how big each NWB file is. Now it doesn't, so I can no longer select the smallest file to download.

[2021-04-28 17:18] satra commented on #644
@rly - this is going to be one of our immediate upcoming enhancements.

from a developer perspective you can look at any dataset quite easily programmatically now.

[code]
and for download links you can use the following:

`https://api.dandiarchive.org/api/dandisets/<dandiid>/versions/draft/assets/<assetuuid>/download/`

the full api is here: https://api.dandiarchive.org/swagger/

and unoffociaill

[2021-04-28 17:22] rly commented on #644
Great! I'm looking forward to trying out the new API.

BTW the last link shows me:
![image](https://user-images.githubusercontent.com/310197/116446175-8b4b3300-a80b-11eb-9d5d-17beff39ff6e.png)

[2021-04-28 17:30] satra commented on #644
learning the ropes - should be active now.

[2021-04-28 17:39] yarikoptic commented on #644
an alternative is to use `dandi` client (`dandi-cli` repo here), e.g.
[code]
(or `-f yaml` or `-f json` depending your desires).  After https://github.com/dandi/dandi-cli/pull/588 is merged/released (likely later today), you would also get (back) ability to list specific directory by just copy/pasting URL from the browser, i.e. like
[code]
PS note -- discovered some issue/interaction in pyout - yo

[2021-04-30 19:15] yarikoptic opened #645 "Add "Cite as" button or pane"
Following the lengthy discussion with @satra in slack, we ASAP need a prominently visible to a visitor guidance on how to cite any particulat dandiset.  I think it could be quickly achieved (even before `publish` functionality lands) by adding a  "Cite as" button next to "Get shareable link " which would open a similar pane with information such as

"{contributors} {title}, {last-modified year}, h

[2021-04-30 19:21] satra commented on #645
old discussion here #470

[2021-04-30 19:22] satra commented on #645
with the new metadata structure this should be relatively easy to generate.

[2021-04-30 19:56] yarikoptic commented on #645
yeap yeap... thanks for digging the elderly issue out.
And now we got a dedicated issue for it!  FWIW, duplicating from comment in slack: https://pypi.org/project/citeproc-py/ might come handy if we decide to provide similar to zenodo pane as you suggested in that https://github.com/dandi/dandiarchive/issues/470#issuecomment-674569799

[2021-05-01 15:28] satra commented on #623
i'm going to close this since we have migrated.

[2021-05-01 15:28] #623 closed

[2021-05-01 15:32] satra opened #646 "edit metadata takes forever to load"
i believe this has been reported for a few dandisets.  here is an example dandiset, which has minimal metadata. https://gui.dandiarchive.org/#/dandiset/000043

i know it loads for some and is not related to size of the metadata (for e.g., i was able to edit metadata for dandiset 26 just fine).

this also relates to the more automated testing issue of being able to hit the edit metadata button in o

[2021-05-02 15:02] satra commented on #646
the issue has to do with values that do not correspond to the schema. in general we should prevent this from happening at the API level.  i fixed the usability issue temporarily by fixing the relevant piece of metadata (in this case these were orcid identifiers that did not get parsed properly by the metadata converter.

however, i will leave this open for now since we don't have validators in the

[2021-05-04 14:15] yarikoptic commented on #646
FWIW it (browser) even times out for me locally and @jwodder in selenium (https://github.com/dandi/dandi-api-webshots/issues/1#issuecomment-831918453)  on https://gui.dandiarchive.org/#/dandiset/000021

[2021-05-04 14:17] yarikoptic commented on #599
even at two places in the path for https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=derivatives%2FEPIC%2Fsub-I46%2F
![image](https://user-images.githubusercontent.com/39889/117017808-e83e6180-acc1-11eb-8cdf-fcae1d482be7.png)

[2021-05-04 14:34] satra commented on #646
thanks for the report, will look at the metadata, probably some identifiers are of. we did not do json schema check when we uploaded the metadata and that's probably what's broken.

[2021-05-04 14:46] yarikoptic commented on #646
while it is broken - might be a good time to fix up the UI part so it doesn't just hang but rather returns error or smth like that (ref: https://github.com/dandi/dandiarchive/issues/613)

[2021-05-04 14:52] AlmightyYakob commented on #646
This might not be so easy, but I could attempt it. The problem is that the UI has to decide to either entirely allow or disallow the meditor to be opened. This could be approached by running json schema validation with a separate tool (probably [ajv](https://ajv.js.org/)), and if it fails, don't show the meditor. However we explicitly allow invalid metadata until publish, so we'd maybe have to onl

[2021-05-04 14:58] yarikoptic commented on #646
Correct in that unrelated to dandi-api, but IMHO there should be a generic/unified way to channel an error message to the web ui user.

[2021-05-04 15:31] satra commented on #646
the particular metadata is fixed. but we should run through the check on all the metadata. i think to simplify things the job of the UI should not be to check validity of metadata. it can do so, but we need to ensure that the API server serves up and ingest valid metadata. the word "valid" as we have discussed earlier has several levels. in the current instance of issues we are seeing, it is not a

[2021-05-04 15:54] yarikoptic opened #647 "a way to trigger "Edit metadata" interface in "read-only" (no Save) mode"
For the purpose of establishing testing and timing of the web ui  we need to be able to trigger "Edit metadata" by dandibot user.  Ref:
I would feel insecure to grant that user full admin privileges.
We need some way, even if ad-hoc/hardcoded to work only for dandibot,  on web ui end to enable that.

[2021-05-04 16:17] satra commented on #647
transferring info from https://github.com/dandi/dandiarchive/issues/627

3 was implemented, but we should really consider 1.

[2021-05-04 17:39] yarikoptic commented on #647
Thanks @satra !  FWIW, I am not sure what "3. disable this" means exactly, and what I see is that "Edit metadata" is disabled for dandibot while in e.g. 000003:

![image](https://user-images.githubusercontent.com/39889/117045881-087c1980-acde-11eb-9def-8c20e4faf1b0.png)

[2021-05-04 21:22] yarikoptic opened #648 "Provide "id"s for actionable elements in the UI"
ATM there is no easy and reliable way (besides an xpath like `'//*[@id="app"]/div/main/div/div/div/div/div[1]/div/div[2]/div[1]/div[3]/button[1]'` for "Edit metadata") to identify elements of the UI.  I think there should be an easy way to assign dedicated IDs per each such element (e.g. `edit_metadata_button`) so even if layout changes we have a robust way to find them (for testing).

[2021-05-04 22:00] satra opened #649 "Tebi (TiB) vs Tera (TB) bytes"
i think the UI is converting size to tebi bytes (2^40) but showing TB. we could divide by 10^12 and show TB. i just thing it would be good to be consistent between size calculation and units.

[2021-05-05 12:40] yarikoptic opened #650 "landing page: could progressbar to not disappear until all elements finished rendering to their final form?"
Detected while now grabbing a larger screen for https://github.com/dandi/dandi-api-webshots/ : we started to produce a diff in webshots for every commit .  The diff showed:
![image](https://user-images.githubusercontent.com/39889/117142044-4419f080-ad7d-11eb-8c63-86b04b1c10eb.png)

and indeed if you "flip" between two versions (e.g. get them from https://github.com/dandi/dandi-api-webshots/commit/

[2021-05-05 13:48] satra commented on #647
disable is what has been implemented as a fix. it's not available except for an owner of the dandiset.

[2021-05-05 13:49] satra commented on #647
ideally for a non-owner it should become view metadata. the underlying component i believe can be made fully readonly.

[2021-05-05 13:51] satra opened #651 "change dataset landing page elements"
if you scroll down to the bottom the name of the project looks really weird. https://gui.dandiarchive.org/#/dandiset/000026

![image](https://user-images.githubusercontent.com/184063/117151827-6d3f7e80-ad87-11eb-8f99-3dfb226944dc.png)

[2021-05-05 13:52] satra commented on #651
more generally i think we would want to move quickly on improving the elements of the landing page now that the schema is somewhat reasonable.

[2021-05-05 14:01] yarikoptic opened #652 ""Manage" is available for non-owner"
Discovered while troubleshooting #650 : dandibot user (non-admin and not owner) since can't "Edit Metadata" still gets that "Manage" icon turned blue for it and can edit the owners list.  But upon "Save" progress bar just keeps spinning:  so api refuses to perform action but due to lack of feedback (#613) it just stays at that until I click Cancel

[2021-05-05 14:03] yarikoptic commented on #650
figured it out (I think) -- it is because there is animation which turns it from gray to blue if you are owner (but see #652 which turns it blue regardless).

To mediate - I will just add a 2 sec sleep in the webshotting script.  BUT for longer term solution -- could progressbar to not disappear until all elements finished rendering to their final state?

[2021-05-05 14:39] waxlamp commented on #650
We could probably figure this out, but I believe that changing the app behavior to suit specific testing schemes is something of an anti-pattern and generally to be avoided.

I actually believe that the 2 second delay is the correct solution for webshotting--the app behaves correctly as is, and the webshot mechanism is too fast to properly "see" the correctness, so it should be the one to change.

[2021-05-05 14:43] waxlamp commented on #647
For completeness, it seems like a "view metadata" button could always be there, with an "edit metadata" appearing only for those authorized to do so.

On the other hand, it would be simpler to just have one always-on button that switches from "view" to "edit" with authorization level.

[2021-05-05 14:44] yarikoptic commented on #650
well, it depends what disappearing progressbar is signaling: that **all** elements state is ready or just **some** elements state is ready?

not quite a scalable comparison but I hate when webpages, right before I click on something, change their rendering so some other link pops up under mouse cursor.  Here it is similar to some degree: progress bar disappeared but elements are still changing the

[2021-05-05 14:48] yarikoptic commented on #650
in greater degree it relates to #638 .  If you go to https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=rawdata%2Fsub-I46%2Fses-SPIM%2F - progressbar disappears, and then it still takes forever for all download "buttons" to appear.  So it becomes nearly impossible (without some crafty ad-hoc logic) to even time loading of such pages to their "complete" state.

[2021-05-05 14:50] yarikoptic commented on #638
I think it is just manifestation of some elderly "out of band" minting of signed download urls which is no longer needed: we know assets UUIDs and can just populate all of them right away!  It must be an easy issue to solve AFAIK, marking as such. And since it is annoying and greatly effects UX, raising severity.

[2021-05-05 15:02] satra commented on #638
i think this is also a function of which api endpoint is being used. this place uses the files endpoint to get the listing of items (files, directories) at a given level, but doesn't return asset ids. then a second async process uses the specific path to get asset id/download link. but this download link has to be minted since it involves adding content-disposition, but the duration should be chan

[2021-05-05 15:57] yarikoptic commented on #638
oh -- I didn't realize that `/assets/paths` returns just paths!
Removing `good first issue` since I think situation is indeed trickier and likely require dandi-api tune up.  Could e.g. be implemented via implementing regex support (https://github.com/dandi/dandi-api/issues/230) and then getting `paths/` (thus to include directories as well, but disregard non-folders) and `/assets?path=PATH&regex=[

[2021-05-05 16:31] yarikoptic commented on #638
actually I got a better idea!  Let me try to learn some dandi-api and prep a PR for review ;-)

[2021-05-05 16:32] yarikoptic commented on #487
I think this is no longer observed, https://gui.dandiarchive.org/#/dandiset shows sizes

[2021-05-05 16:32] #487 closed

[2021-05-05 16:33] yarikoptic commented on #644
original issue I think is #586

[2021-05-05 16:44] yarikoptic commented on #638
here it is: https://github.com/dandi/dandi-api/pull/261

[2021-05-05 17:14] waxlamp commented on #648
Could you identify a list of the UI elements you are focused on for testing currently? We can start with that set just to make your current set of tests easier to manage.

[2021-05-05 17:42] yarikoptic commented on #648
ultimate source is https://github.com/dandi/dandi-api-webshots/blob/master/tools/make_webshots.py.  Here is the only two we use ATM:

[code]
[code]
of immediate need. But I don't see why not to add ids to  at least download, view data (we just go to url), publish, manage, Get shareable link "buttons" while at it.

[2021-05-05 17:45] yarikoptic commented on #647
To not waste space, I like "view" to "edit" switching button idea.

[2021-05-06 12:06] bendichter opened #654 "individual file info"
![image](https://user-images.githubusercontent.com/844306/117294944-3f1e7500-ae41-11eb-9a03-8a6c43c9570d.png)

The data viewer now does not include any information about the files. If I click download, I have no idea how big of file I am requesting. If I update a file, I can't see from this view that it has been modified. This is really not ideal as a user. I'd much prefer a standard columnar view

[2021-05-06 12:08] bendichter opened #655 "why the squid?"
![image](https://user-images.githubusercontent.com/844306/117295706-2b274300-ae42-11eb-9ddc-bad59c793d8e.png)

The squid icon takes me back to the dandiset landing page? What is the reasoning behind this? I find it unintuitive.

[2021-05-06 13:25] yarikoptic commented on #655
"bubbling up" to the dataset landing page was the intention IIRC.  Indeed we should improve on it.  I would say we take the "Home" icon for that, add it also add Home to "Dandiset Dashboard" on the landing page to "align" perception on its meaning.
In the "files browser" interface Home icon should IMHO just be replaced with `./` or even better the `{dataset_id}/` in the path breadcrumbs so it is a

[2021-05-06 18:31] waxlamp commented on #655
Agreed. Let's:
- [ ] replace the squid with home
- [ ] replace the home with dandiset ID

[2021-05-07 14:59] yarikoptic commented on #573
tested: issue remains . convenience updated url https://gui.dandiarchive.org/#/dandiset/000008/draft/files

[2021-05-07 15:04] yarikoptic opened #657 "View data: adjust page title to reflect current location"
ATM it is always just 'DANDI Archive'.  So browser history just gets filled up with the same title through the history of exploration of a dandiset.  I think it should reflect the location, e.g. could be even a permalink kind:

DANDI:000008/draft/sub-mouse-APLSV/

and may be then title for the landing page also should be adjusted to include the identifier instead of just the name of the dandiset,

[2021-05-07 16:38] waxlamp commented on #657
It is a good idea.

Relevant vue support: https://github.com/vinicius73/vue-page-title

[2021-05-07 17:02] #647 closed

[2021-05-07 17:41] waxlamp commented on #651
The [schema section](https://github.com/dandi/schema/blob/master/releases/0.3.0/dandiset.json#L872-L878) for the `name` property is an array of values. I believe that's what's making the render look weird.

Is it supposed to be an array? If so, why?

If yes, what should we do to improve the rendering for the name?

[2021-05-07 18:08] satra commented on #651
a dandiset can be associated with multiple projects. so this should simply show the names of those projects for now.

[2021-05-07 18:43] #655 closed

[2021-05-07 18:45] waxlamp commented on #655
@bendichter, we put in a fix for this that should be appearing on the app within a few minutes. Take a look and reopen this issue if anything else needs to be tweaked. Thanks for filing the issue!

[2021-05-07 19:22] waxlamp commented on #651
@AlmightyYakob says he can address this one on Monday.

@satra, the issue title seems more general than the description. Do you have more landing page elements that need to be updated?

[2021-05-07 19:25] AlmightyYakob commented on #651
@satra also FWIW I think the title of the `wasGeneratedBy` schema field (this field) should be changed to `Projects` or something, to more accurately convey the intent, as `Name of the project` makes it seem like there's only one.

[2021-05-07 19:31] waxlamp commented on #654
I think the sortable columnar display for files is a reasonable ask.

Do you remember what information was included in the detail side panel?

[2021-05-07 19:44] satra commented on #651
One of the issues is how things would be reflected when people start adding new things to the metadata. We found this only after adding the field, hence the specific issue.

Other things that need to change are things like removing schemaKey.

We can update that in the schema.

More generally, I think the landing page should be a curated view of the Dandiset metadata. I.e. given the model and the

[2021-05-07 19:53] waxlamp commented on #651
:100:

I agree that the landing page should not just be a dynamic view of a bunch of metadata items. To start, can you identify some metadata records that should be part of this curated view? Then we can at least begin to get the look and feel of that starting subset right.

I think:
- dandiset ID
- name
- description
- contributors
- owners
- related projects

are in the list. Any others?

[2021-05-09 17:21] yarikoptic commented on #451
no more girder

[2021-05-09 17:21] #451 closed

[2021-05-09 17:24] yarikoptic opened #662 "View metadata on 000040 causes browser into "Aw snap""
It might be just too long, but must be beyond 30 sec as we do get through on 000026 with slightly over 30 sec (see https://github.com/dandi/dandi-api-webshots/#000026)  but browser (when trying locally directly without webshots) does just say that Aw Snap eventually)

[2021-05-09 17:46] yarikoptic commented on #662
<details>
<summary>probably the same for 000041</summary>

[code]
</details>

[2021-05-09 17:48] satra commented on #662
we should check validity of dandi metadata for all dandisets. in dandi cli, we need to turn models to contain all fields even if optional for base models, so that we can run through using model validation. i'll give this a shot later today.

[2021-05-09 20:29] yarikoptic commented on #662
Regardless of the metadata validity, web ui must not just freeze IMHO.

[2021-05-10 14:29] waxlamp commented on #651
I'll bring in Jared or Faiza to help with the UI/UX design work.

[2021-05-10 15:21] #651 closed

[2021-05-10 15:23] waxlamp commented on #651
We need to transplant the larger discussion of revamping the landing page into a new issue.

[2021-05-10 16:22] waxlamp opened #666 "Back button doesn't play well with .. links in dandiset file browser"
@yarikoptic wrote:

https://deploy-preview-660--gui-dandiarchive-org.netlify.app/#/dandiset/000010/draft/files?location=sub-210861%2F
click on '..' which goes to `%2F` version which redirects (while recording itself in history) to the one without it, and thus I get stuck

_Originally posted by @yarikoptic in https://github.com/dandi/dandiarchive/issues/660#issuecomment-834819192_

@AlmightyYakob r

[2021-05-10 20:45] waxlamp opened #670 "Remove girder web components dependency"
Verify first that we are no longer using it.

[2021-05-10 20:49] #648 closed

[2021-05-10 21:35] #573 closed

[2021-05-11 19:54] #37 closed

[2021-05-11 19:59] waxlamp commented on #57
Mooted by migration to Girder 4.

[2021-05-11 20:15] #79 closed

[2021-05-11 20:18] waxlamp commented on #98
Closing, at least for now, due to Brian's arguments above.

[2021-05-11 20:35] waxlamp commented on #124
The new meditor does this.

[2021-05-11 20:35] #124 closed

[2021-05-11 20:37] waxlamp commented on #102
This is something that would happen on the DLP, is that right? If an entity has an orcid, we can query for the username and email, but I don't understand the case of prompting for info--when does that happen?

[2021-05-11 21:20] yarikoptic commented on #55
;-) seems to be doing fine -- last update to https://github.com/dandi/dandisets reflecting the entirety was done 20 hours ago (which is feasible).

This issue was more "overarching" , but I think we could indeed just close it for now and here since `dandiarchive` now is pretty much the "web-ui" and not representative of the entire archive.  If anything -- we might move/resurrect it elsewhere later

[2021-05-11 21:20] #55 closed

[2021-05-11 21:21] waxlamp commented on #168
What's the status of this issue? Is it possible to do what @bendichter requested using the latest metadata schema?

[2021-05-11 21:24] #197 closed

[2021-05-11 21:24] satra commented on #168
we already have support for this in the Resources section of dandiset metadata, but also asset metadata.

[2021-05-11 21:24] #168 closed

[2021-05-11 21:27] #195 closed

[2021-05-11 21:33] yarikoptic commented on #57
not quite since we seems still to be dumping them:
[code]

[2021-05-11 21:33] satra commented on #246
@waxlamp didn't you just do this in https://github.com/dandi/dandiarchive/pull/658

[2021-05-11 21:34] satra commented on #246
not perhaps to the full extent. but i guess this is similar in spirit.

[2021-05-11 21:50] waxlamp commented on #255
Can this be closed for the time being? Or is it still an active topic of discussion?

[2021-05-11 21:52] waxlamp commented on #256
Is this still relevant? It seems we can theoretically have SSO via GitHub identity--would that be more in line with how we're doing things now?

[2021-05-11 22:00] #276 closed

[2021-05-11 22:01] waxlamp commented on #286
I believe we've got this now, though we need to cook up the right policies for promotion of staging to prod, etc.

[2021-05-11 22:01] #286 closed

[2021-05-11 22:03] satra commented on #255
let's close this for now. we will revive a specific zarr discussion.

[2021-05-11 22:03] #255 closed

[2021-05-11 22:03] waxlamp commented on #293
Is this issue now part of a larger discussion of a DLP redesign? (The preview link no longer works so some context has been lost.)

[2021-05-11 22:04] satra commented on #256
as long as we can get to SSO with github should work for now.

[2021-05-11 22:04] #256 closed

[2021-05-11 22:30] waxlamp commented on #57
Interesting. I assume this is because the Girder instance is still running, though my short-term plans include retiring it. Thanks @yarikoptic!

[2021-05-12 03:46] yarikoptic commented on #98
Developers always can do whatever they like in their dev environments. If becomes a good practice - I see no reason to not automate it (and hence testing, coverage, codespell, linting, etc is now automated for dandi-cli). So I prefer to make CI sweat and not my laptop/my patience, so I typically just test relevant subset of tests locally, push a PR and see what CI says while testing across a wider

[2021-05-12 13:53] #253 closed

[2021-05-12 14:19] waxlamp commented on #355
I think this is taken care of now; please re-open if there are lingering issues to discuss here.

[2021-05-12 14:19] #355 closed

[2021-05-12 14:22] waxlamp commented on #357
We have not explicitly solved this issue, but I am not sure we currently want to either. I will close this issue so please reopen if there is a viable path forward at the current time (otherwise, we can always file a new issue to drive this work when we have clearer demand/requirements).

[2021-05-12 14:22] #357 closed

[2021-05-12 14:23] waxlamp commented on #358
I think this is mooted by the migration. Reopen if not.

[2021-05-12 14:23] #358 closed

[2021-05-12 14:27] waxlamp commented on #363
Mooted by migration.

[2021-05-12 14:27] #363 closed

[2021-05-12 14:31] waxlamp commented on #378
Is this still needed?

[2021-05-12 14:33] waxlamp commented on #362
Covered by webshots.

[2021-05-12 14:33] #362 closed

[2021-05-12 14:36] waxlamp commented on #380
Are you describing a special "delete all assets" button? Would this be covered by a more traditional "select all" checkbox that would be followed by a standard "delete" action?

[2021-05-12 14:36] waxlamp commented on #375
Closing this in favor of a more judicious, from-the-ground-up testing strategy, since the code landscape has changed significantly since this was originally filed.

[2021-05-12 14:36] #375 closed

[2021-05-12 14:38] waxlamp commented on #381
@jtomeck, what is the general way to implement this type of display in CSS? Specifically:
- how do we cut off overflowing text with an ellipsis?
- how do we force a single, long word like these to "wrap"?

[2021-05-12 14:39] satra commented on #380
it doesn't even have to be a checkbox. i think a delete icon for folders would be sufficient.

[2021-05-12 14:44] waxlamp commented on #385
I think this can be closed.

@dkobak and @bendichter, if you have more thoughts on this topic, please do continue to post on this thread.

And FWIW, to manage the problem of downloading a huge file via the web, perhaps an approach like the big data brokers (i.e., Google, Facebook et al.) use when you ask to exfiltrate all of your data would be good: you ask for the specific thing, you receive an e

[2021-05-12 14:44] #385 closed

[2021-05-12 15:00] #352 closed

[2021-05-12 15:25] waxlamp commented on #389
Hi @nicolocin - sorry for such a delayed response.

Once you authorize the OAuth application (via your GitHub credentials), you are immediately "approved" to use the archive. We are now arranging to have confirmation emails sent to newly registered users after this simple procedure succeeds.

Please let us know if you have further questions!

[2021-05-12 15:25] #389 closed

[2021-05-12 16:58] waxlamp commented on #407
Now that we have a staging deploy on Heroku, and Netlify previews on frontend PRs, I think what is left to do is:
- implement the branch infrastructure and promotion policy needed to make use of staging
- possibly set up a similar thing for Netlify (above and beyond the deploy previews)

@dchiquito can you weigh in with your thoughts?

[2021-05-12 16:59] waxlamp commented on #412
This is done.

[2021-05-12 16:59] #412 closed

[2021-05-12 17:01] #458 closed

[2021-05-12 17:06] waxlamp commented on #421
Mooted by migration.

[2021-05-12 17:06] #421 closed

[2021-05-12 17:09] waxlamp commented on #377
#425 is a dupe of this issue, but includes one extra point about also registering the creator as the contact person; closing this in favor of that.

[2021-05-12 17:09] #377 closed

[2021-05-13 17:58] jtomeck commented on #381
[code]

This CSS should do it

[2021-05-14 15:08] yarikoptic opened #679 ""login" brings user to the https://gui.dandiarchive.org/#/"
If I am already in a dandiset (e.g. https://gui.dandiarchive.org/#/dandiset/000029), and click logout -- all good, I stay in the same page.

If I try to re-login again then two things happen and possibly related thus filing together
- I get forwarded to "Authorize DANDI GUI?" https://api.dandiarchive.org/oauth/authorize/?redirect_uri=https%3A%2F%2Fgui.dandiarchive.org%2F&client_id=...  URL (so `re

[2021-05-14 19:48] waxlamp commented on #679
I think we can come up with a simple way to accomplish this.

[2021-05-14 19:53] waxlamp commented on #98
I would personally find the coverage map very distracting while doing code review. Do the codecov and sourcegraph integrations make it easy to turn their visualizations off?

[2021-05-14 20:13] waxlamp commented on #381
Thank you, @jtomeck!

@AlmightyYakob, could you do a (very) fast investigation to see if that combination of CSS settings will do the trick for us? If you don't have the bandwidth now for a quick investigation, please let me know here and we'll defer until there's more availability.

[2021-05-14 22:08] yarikoptic opened #680 "provide `wasGeneratedBy` record in metadata while creating a new dandiset"
`DandisetMeta` allows for it, and we populate it for assets.  To establish the provenance trail I guess we should keep extending `wasGeneratedBy` by any agent which alters the dandiset record: web-ui (including the meditor), dandi-api, etc.

[2021-05-14 22:48] yarikoptic commented on #98
yeap: IIRC they aren't even visible unless you install extension + login (to sourcegraph).  Just go to https://github.com/dandi/dandi-cli/pull/629/files and see if you see anything "special".  And then there is a button to hide or show coverage per file.

[2021-05-17 14:48] satra opened #681 "meditor: cannot add dandiset contributors"
in dandiset 105, the owner cannot add contributors. the dropdown for selecting person/organization is grayed out.

i looked at this in the codepen, where it seems to work fine, hence this may relate to how the UI is handling those additional buttons.

https://codepen.io/satra-the-reactor/pen/NWbKbrj?editors=1010

[2021-05-17 14:53] AlmightyYakob commented on #381
I believe the attached screenshot is taken from the old file browser. Since that is gone from the UI, I think we can close this issue. If we add this functionality into the new UI, we can report any bugs as new issues.

[2021-05-17 14:54] AlmightyYakob commented on #681
This seems to be a general bug with selecting a schema type, not just contributors. I can investigate.

[2021-05-17 16:42] #666 closed

[2021-05-18 14:20] waxlamp commented on #381
Oh, good catch. Let's close for now, and try to remember to build in a fix for this sort of behavior when it comes back around again.

[2021-05-18 14:20] #381 closed

[2021-05-18 15:07] AlmightyYakob commented on #681
Just did some investigating, can confirm this issue is not initially present in master, but shows up after doing a fresh `yarn install`. So this might be caused by a dependency change. I will keep investigating.

[2021-05-18 15:25] waxlamp commented on #98
Ok. I think we can add it then. But be aware that this gives Brian the right to say "I told you so" if anything bad happens later 😸

[2021-05-18 15:52] #681 closed

[2021-05-18 16:39] yarikoptic commented on #680
In principle it is an issue for anything which creates (and edits?) metadata record.  We populate it in `dandi-cli` when we extract metadata so we state what process extracted it. See e.g.
[code]

`dandiarchive` web-ui component edits dandiset metadata record.  So it should provide (or possibly update/replace existing one?) a similar `wasGeneratedBy` record.  The simplest one would be just for now

[2021-05-18 20:14] waxlamp commented on #680
It sounds like the `wasGeneratedBy` data should be an input to the metadata editing API endpoint? Then all clients would need to "self-identify" when editing metadata, and the API could record the appropriate information in the metadata automatically. Or am I missing the core requirements here?

[2021-05-19 01:06] satra commented on #680
let's punt this for a bit. we can add this, but i think we need a better approach to provenance than this. this source could be trusted in the short term, but in reality anyone using the API could make up anything. we should think through how best to track this in a systematic way.

[2021-05-19 01:14] satra opened #685 "meditor: changed state and undo"
we are asking for a lot of things that could be added using the meditor. i had someone enter some data and forgot to hit save, just hit the back button or something else. it would be nice if the meditor detected a change and prompted the user that they were navigating away without saving.

on a more general note, some of the elements are complex and we don't really have an undo mechanism. an accid

[2021-05-19 01:27] yarikoptic commented on #685
In the long term I guess should be done within vjfs itself to provide proper history of changes and undo/redo stepping through changes? Even if a full metadata record copy stored at each modification, shouldn't be prohibitive

[2021-05-19 15:36] waxlamp commented on #680
As part of the thinking on this topic, I'd love to understand the core, pre-engineering requirements. i.e., what are we wanting to accomplish with "provenance", what knowledge do we want to retain into the future, etc. That will directly affect engineering design for the feature.

[2021-05-19 15:42] satra commented on #680
we will soon be running a neptune instance where i would like to send provenance messages to from the API server. i'm waiting for all of our metadata to be cleaned up before doing this. once that is in place, we should already have most of the pieces for provenance. since this would be public, we will not want to put things like IP addresses there. it will also require some crafting of the messagi

[2021-05-19 15:46] waxlamp commented on #680
So it sounds like the idea is: distill changes *about the metadata* from the implementation details of *how those changes specifically happened*, and send the distillate to the neptune server.

[2021-05-19 15:48] satra commented on #680
not sure if i would use the term distill (since the info going to neptune will actually be quite a bit), but yes :)

[2021-05-20 19:05] AlmightyYakob commented on #654
Depends on https://github.com/dandi/dandi-api/issues/292

[2021-05-20 19:08] AlmightyYakob commented on #638
This will be addressed when https://github.com/dandi/dandi-api/issues/292 is addressed.

[2021-05-20 19:25] waxlamp commented on #636
@jtomeck could you lay some CSS on us?

[2021-05-20 19:27] waxlamp commented on #620
In this example, `Dandiset Dashboard` is the title for the current page. I don't think that text should be a link that takes you somewhere else.

Similarly, upon clicking the back arrow, the title reads `Public Dandisets`. I certainly wouldn't expect that title to be a hyperlink to somewhere else either.

[2021-05-20 19:27] #620 closed

[2021-05-20 19:29] waxlamp opened #687 "Design a curated dandiset landing page"
The DLP should show a specialized view of some of the metadata in a pleasing and informative layout.

See [this comment](https://github.com/dandi/dandiarchive/issues/651#issuecomment-834734060) and [this reply](https://github.com/dandi/dandiarchive/issues/651#issuecomment-834795421) for some details.

[2021-05-20 19:30] AlmightyYakob commented on #685
This should be pretty easy to do.

I'm not sure what functionality exists within VJSF to hook into the delete action, but I'd think if it did exist we'd have an alert show up to confirm delete, the same way we would for the above issue.

I can also look into keeping a buffer of the last few actions, to allow for undo. If that causes a significant performance hit, we might have to try a different a

[2021-05-20 19:36] AlmightyYakob commented on #670
GWC strictly acts on girder 3, so we aren't making any use of it now.

[2021-05-20 19:38] jtomeck commented on #636
I'm not sure this is a CSS issue, as Vuetify has it's own responsiveness classes baked in. That said, I believe there are more issues that need discussion than the content bleeding off the page. What I mean is, if we were to utilize Vuetify's responsive grid, so that the content "falls in line" on mobile devices, we need answers to the following questions:

1. Is all information necessary at a gla

[2021-05-20 20:00] satra commented on #639
try this location: https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=rawdata%2Fsub-I46%2Fses-SPIM%2F

[2021-05-20 20:02] waxlamp opened #688 "Place a "help" link in the UI to the helpdesk new thread page"

[2021-05-20 20:19] yarikoptic commented on #639
Tried on the phone: works
![Screenshot_20210520-161839](https://user-images.githubusercontent.com/39889/119043523-1fca3080-b987-11eb-8773-20ba38462b67.png)

[2021-05-20 20:20] yarikoptic commented on #639
Brave made you extra safe @satra!

[2021-05-20 21:14] satra commented on #620
`<--` is a weird icon for taking one back to public dandisets.

i think that icon should be changed, but then there is duplication (we already have public dandisets on that page). so ideally it is back but takes you back to where you came from, which at the moment it doesn't. it takes you to public not the specific page of public dandisets you were looking at.

overall it's a misleading UI i think

[2021-05-21 16:30] waxlamp opened #689 "Fix icon design for going "back" to public dandisets"
_Originally posted by @satra in https://github.com/dandi/dandiarchive/issues/620#issuecomment-845481473_:

[2021-05-21 16:31] waxlamp commented on #689
What if we just got rid of the "back" icon altogether? The nav bar at the top of the app is the clearest way to move from place to place already.

[2021-05-21 17:22] waxlamp commented on #636
@satra can likely answer those questions more accurately than I can, but for the sake of argument, supposing the answers are:

1. Yes
  - No
  - N/A
 2. Break
 3. Yes, but not at the cost of legibility/usability

then what would your general approach be here?

[2021-05-21 17:30] satra commented on #689
i'm fine with removing.

the only thought process would be adding a previous dandiset and next dandiset link, but that may be non-trivial for a given dandiset without changing our API returns. so let's go with removing the link and title.

[2021-05-24 17:45] jtomeck commented on #636
**Page structure:**
1. Remove a lot of left/right padding

**List items:**
1. Shrink "draft" badge
2. Wrap titles
3. Abbreviate month
4. What does "contact" mean? Can it be removed?

---

Along with everything mentioned above, it would be using Vuetify's grid with responsive classes to make sure everything collapses well. I don't really know how to explain the approach better than that without jus

[2021-05-24 19:12] yarikoptic opened #691 "When not logged in, on dandiset landing page: TypeError: Cannot read property 'admin' of null"
[code]

[2021-05-24 19:14] AlmightyYakob opened #692 "Reordering contributors is very clunky"
This applies to any list of sufficiently large objects. VJSF renders the whole object in the list, although that's really not necessary. VJSF has [slots](https://koumoul-dev.github.io/vuetify-jsonschema-form/latest/examples#slots) which can be used to extend functionality, although I'm not sure if our exact issue can be addressed this way. More investigation needs to be done.

[2021-05-24 21:54] AlmightyYakob opened #694 "Investigate VJSF performance issues"
This is an investigative task to help understand the root cause of #662, #646 and #588.

[2021-05-24 22:21] yarikoptic commented on #694
FWIW, I did profile in browser today but since know no JS wasn't able to identify ultimate reason

[2021-05-24 22:23] yarikoptic commented on #694
If there is no related issue filled with vjsf, I would've also failed one there, ideally with some code to reproduce/demonstrate

[2021-05-26 19:33] sanuann commented on #621
do we want this to return to the home page or the last state?

[2021-05-26 20:06] satra commented on #621
i think the arrow was removed. there may be an open PR to this effect. #690

[2021-05-27 14:11] waxlamp commented on #621
Yes, I will work on getting #690 merged asap.

[2021-05-27 14:47] waxlamp commented on #636
@jtomeck, what's the expected level of effort if you got into this?

@satra, can you confirm/modify the prospective answers I gave to Jared's questions [above](https://github.com/dandi/dandiarchive/issues/636#issuecomment-846117791)?

[2021-05-27 15:00] satra commented on #636
Since the intent of the responsiveness is about narrower views, the most important things are likely: Title, version, and size. contact info  (which doesn't show up anyway) and last updated can be removed. i suspect the latter will become a separate ui element about sorting the order.

ideally the title wraps around.

yes.

[2021-05-27 16:26] #649 closed

[2021-05-27 16:49] jtomeck commented on #636
@waxlamp - I'll take a little bit of time to go in and assess the situation. If we haven't been planning to code for all screen sizes from the beginning, it could be a bigger haul than anticipated.

[2021-05-27 18:05] #689 closed

[2021-05-27 18:07] waxlamp opened #702 "Small UX deficiencies"
_Originally posted by @satra in https://github.com/dandi/dandiarchive/issues/690#issuecomment-847179028_

[2021-05-28 21:02] waxlamp opened #705 "Integrate "ID" display into DLP more smoothly"
There's a sort of "floating" display of the dandiset ID above the main info panel in the DLP. We should find a more organic way to display this information.

[2021-05-28 21:02] #599 closed

[2021-06-01 14:32] bendichter opened #707 "ORCID logo being displayed for unidentified contributors"
![image](https://user-images.githubusercontent.com/844306/120340603-2f6d4180-c2c4-11eb-852b-0df97d4e2c16.png)

The above image would seem to imply that each of the three authors has an associated ORCID, however if you click on the symbol associated with "Inema, Ingrid", it takes you to orcid.org/unidentified. I think it would be better to omit the ORCID symbol for users that do not have an associa

[2021-06-01 16:38] satra commented on #707
thanks @bendichter for the issue. @sanuann - this should be an easy fix.

[2021-06-01 19:35] waxlamp opened #708 "User search causes semantically spurious 400 error"
Sentry Issue: [DANDI-GUI-4](https://sentry.io/organizations/dandiarchive/issues/1633194744/?referrer=github_integration)

[code]

To reproduce, open a dandiset's landing page, then click on the "manage" button under the "ownership" section of the detail panel. Begin typing text into the search box. Note that as soon as you have completed a search string with any "illegal" character, the 400 error

[2021-06-01 21:56] bendichter opened #709 "Affiliation metadata UI"
I was trying out entering affiliation metadata for an author. It mostly works, but I did find a few points I wanted to bring up:

![image](https://user-images.githubusercontent.com/844306/120394736-dc19e400-c301-11eb-9e19-259f54326421.png)

* ror.org validation works. Nice job there. It was clear to me what form this needed to take.
* Name works as expected
* Email: The author already has an email

[2021-06-01 21:58] bendichter commented on #709
@satra would this be better in helpdesk?

[2021-06-01 22:12] bendichter commented on #709
@satra ok, great! I'll just fill in those moving forward.

[2021-06-01 22:12] #709 closed

[2021-06-01 22:31] yarikoptic opened #710 "ror.org: just FOI on current listing of institutions in ROR.org"
we have ror.org identifiers for institutions now in the metadata schema, which is great.  Not sure where/how we are going to bring in yet assistance to users for the metadata entries to come from dictionaries etc, but decided to just dump some ror.org information here: integrations are listed on https://ror.org/integrations/ and public metadata dumps are available from https://figshare.com/collect

[2021-06-02 16:55] jtomeck commented on #636
At a glance, it doesn't seem like it'll be a large haul. It will be throwing some CSS at the list items primarily as well as some slight size changes/reworks here and there. Maybe 2 hours for this?

I also noticed on the dandiset landing page, the meta sidebar is above the main content body when the window is sized down. I'd like to figure something out for that as well. This part might be a littl

[2021-06-02 17:17] #702 closed

[2021-06-02 17:50] waxlamp commented on #443
I believe this is moot now.

[2021-06-02 17:50] #443 closed

[2021-06-02 17:51] waxlamp commented on #510
I believe this is solved now.

[2021-06-02 17:51] #510 closed

[2021-06-02 18:06] bendichter opened #712 "saving metadata JS error"
For dandiset 3, I tried changing Gyorgy Buzsaki's name to György and nothing happened when I pressed the save icon, and when I press the left arrow icon it looks like the change did not save.

I see this in the JS console:

![image](https://user-images.githubusercontent.com/844306/120530520-9ade0e80-c3ab-11eb-9930-af626fe7c105.png)

[2021-06-02 18:18] waxlamp commented on #710
Could you clarify the problem and/or action items here?

[2021-06-02 18:20] yarikoptic commented on #645
For all means and purposes #684 (thanks @sanuann @satra et al) addressed this issue

[2021-06-02 18:20] #645 closed

[2021-06-02 18:22] waxlamp commented on #636
Great! Please go ahead and do the work.

I fixed this in another PR just today. The fix I came up with was very simple: just move the panel content to below the main content. This was the easiest way to solve the problem of metadata-on-top-on-small-screens, and it's ok for now. FWIW, I requested your review on that PR; if you check your notifications, you can still leave a review (even though it's

[2021-06-02 18:24] yarikoptic opened #713 "minor: bring "Cite as" to be close with ""
ref: https://github.com/dandi/dandiarchive/pull/684#issuecomment-847131661

ATM "Cite as" is positioned somewhere in the middleish between the lonely "Get shareable link" on the left and a group of actions like "Download", etc on the right:

![image](https://user-images.githubusercontent.com/39889/120532731-fd380e80-c3ad-11eb-9ea4-a0ab2302df8b.png)

I think it would be nicer if "Cite as" followed

[2021-06-02 19:04] waxlamp commented on #712
Ben, are you able to reproduce this? i.e., does this sequence of actions always result in that error on the console?

[2021-06-02 19:22] yarikoptic commented on #710
Well, sorry if I polluted the issues, I will close -- a "note" was made so could be searched up etc ;-)

FOI == "For Our Information".   The particular problem here is that meditor UI has fields for the organization name and  requests ror.org identifier for it: it requires user to go to the website/search/copy+paste.  The problem per se is not specific to ror.org but for any metadata entry eventua

[2021-06-02 19:22] #710 closed

[2021-06-02 20:46] jtomeck commented on #636
Ah okay sorry about that. I'm glad you didn't wait on my review to merge so I wasn't holding anything up.

[2021-06-02 21:46] waxlamp commented on #636
No problem. I was more pointing you there so you can see (and possibly comment on) the fix I put in.

[2021-06-03 15:04] #705 closed

[2021-06-03 16:01] yarikoptic commented on #151
@waxlamp could someone look into this? AFAIK should be a trivial fix.  https://github.com/dandi/dandi-api/issues/222#issuecomment-848990941 might be related in that you would need a not shallow clone to get `git describe` function.

Also given having so many changes since 0.1.0
[code]
might be worth tagging a new release.  We should have tagged one whenever "migration" was complete (well -- could

[2021-06-03 16:46] #707 closed

[2021-06-03 18:08] satra commented on #477
@waxlamp - we should add this. we need to be reporting where people are coming to dandi from. this should not be complicated.

[2021-06-03 19:08] satra commented on #481
i believe this is now addressed with the new meditor.

[2021-06-03 19:08] #481 closed

[2021-06-03 19:10] satra commented on #470
i'm going to close this, as this original issue has been addressed and several others.

[2021-06-03 19:10] #470 closed

[2021-06-03 19:14] satra commented on #565
i believe this is fixed. please reopen if still an issue.

[2021-06-03 19:14] #565 closed

[2021-06-03 19:25] #636 closed

[2021-06-03 19:34] satra opened #720 "simplify top bar"
i think we can get rid of the `Want to create your own datasets?` and change the login or create to simple "Login with GitHub"

![image](https://user-images.githubusercontent.com/184063/120701599-06de7680-c481-11eb-8776-6b8caafd0ed4.png)

cc: @yarikoptic @waxlamp

[2021-06-03 20:11] #477 closed

[2021-06-04 15:47] mvandenburgh commented on #685
I addressed some of the issues brought up here in #714.

This is done. I also made a change to the way the save button works - before, both the save button and back button would close the meditor. That essentially means that using the back button will _always_ result in unsaved changes being lost, so I changed the functionality of the save button to keep the user on the meditor screen after saving

[2021-06-04 17:28] yarikoptic commented on #685
:+1: on that. I think it might be worth filing an issue within VJSF right away, describing ongoing here development (may be it could later be done/migrate to vjsf itself?)

[2021-06-04 18:15] #720 closed

[2021-06-04 18:26] yarikoptic opened #724 "purge DJANGO_API conditional elements?"
spotted while reviewing https://github.com/dandi/dandiarchive/pull/723/files#diff-9918ddc97c65060b6d3cb0c8cdf3e898f098a481f0b8b60a6913f041fc4eaaa2L101

we have only `DJANGO_API` now, so I guess a good amount of elements could be dropped and code de-if'ied where applicable.  Here is a crude search for mentions:
[code]

[2021-06-04 18:47] yarikoptic opened #726 "Make click on version to not copy to clipboard but go to github"
Reviewing #722 an idea came to mind

https://github.com/dandi/dandiarchive/tree/0.1.0-421-g609c077 works just fine ;)  so URL could be easily constructed from the exact commit or current `git describe` which is sweet.

copy pasting could be done via regular select/copy, but getting to github requires "knowledge"

[2021-06-04 20:58] bendichter opened #728 "directory depth error"
![image](https://user-images.githubusercontent.com/844306/120861711-b9800900-c555-11eb-829d-491dbbe5b4b6.png)

dandiset 108 is at least 9 directories deep. When I click on the 9th "0", the website teleports me back to level 1. I am not sure if this is a level issue or maybe there are too many elements to display or some other reason.

![image](https://user-images.githubusercontent.com/844306/12086

[2021-06-04 21:04] satra commented on #728
that's a bad dataset (i stopped him on partial upload). he will fix it. i should really delete the files.

[2021-06-04 21:42] waxlamp commented on #724
Thanks for filing this issue. This has been on Kitware's radar since the migration, and I am planning to begin snipping some of these out carefully so as not to disrupt the correct working of the client.

[2021-06-07 14:25] waxlamp commented on #726
I had the same thought, in a way. I clicked on the version string expecting to be taken to GitHub and felt a sense of disappointment that it only copied the URL to the clipboard.

I'll do this as a followup to #722.

[2021-06-07 14:30] waxlamp commented on #728
I suppose the remaining question is, how did 108 get to be in a bad state without being stopped by validation or some other serverside mechanism?

@satra, if we can get an understanding thereof, and @bendichter, if you're able to fix 108 to your satisfaction, then I think we can close this issue.

[2021-06-07 14:41] #151 closed

[2021-06-07 15:00] satra commented on #728
there are some datasets that don't go through validation. these are datasets where we are working with the community. this was an example of someone directly uploading a zarr folder. and i had to stop early because there was a mismatch of concepts. our current backend would destroy the zarr structure, so it doesn't make sense to upload it.

[2021-06-07 15:12] waxlamp commented on #728
Ah I see. So if these datasets are currently involving personalized care from a member of our team, I think we can close this issue.

[2021-06-07 16:08] yarikoptic commented on #728
I don't think that we should dismiss this issue: even though it is a "non conventional" dataset, web UI must not just crash while traversing it.  We IMHO should take this opportunity as a lucky occasion that we managed to run into some unguarded assumption within the codebase and address it.  FWIW -- the jumping back to the top I still observe while going from https://gui.dandiarchive.org/#/dandis

[2021-06-07 16:33] yarikoptic commented on #728
The underlying issue seems to be within `dandi-api` though since
[code]

but going under returns empty list:
[code]

which IIRC from https://github.com/dandi/dandi-api/pull/312 should not happen since we simply should have not had any of thos `0/` returned if there is no asset with the path under there.  But also web-ui should have not just jumped up if it encountered a "folder" without assets:  t

[2021-06-07 17:19] yarikoptic commented on #726
Great (when) users think alike! ;-)

[2021-06-08 15:15] mvandenburgh commented on #694
We discussed this in person yesterday, but just to summarize here:

The slowdown appears to occur when VJSF renders an "array" field from a JSON schema. When an array field contains many elements that contain several nested child objects, the rendering slows down (an example is the "contributor" field on [this dandiset](https://gui.dandiarchive.org/#/dandiset/000004)). I'll file an issue with vjsf

[2021-06-08 16:44] satra commented on #694
this should also improve with dandi schema  `0.4.0` which simplifies affiliation  (and i might reduced the contact person model as well to a simpler form in a future schema update).

[2021-06-09 00:17] satra commented on #688
we can use this link for help: https://github.com/dandi/helpdesk/issues/new/choose

[2021-06-09 21:13] #622 closed

[2021-06-10 21:09] yarikoptic commented on #55
although I've closed it for now, just want to dump an idea:  similarly to how datalad-osf  (see http://github.com/datalad/datalad-osf/blob/HEAD/datalad_osf/git_remote.py) uses `git fast-export` / `fast-import` to serialize/deserialize git history, I think it should be feasible to come up with the support for push/pull operations on datalad'ified locally dandisets, so that the git history etc is pr

[2021-06-11 19:36] #688 closed

[2021-06-14 18:02] #567 closed

[2021-06-14 18:19] yarikoptic opened #734 "Make "Modified" (or "Identifier") to be the default sorting"
ATM default sorting is by name, which might cause people to "abuse" that to have their dataset appear first.  Overall also sorting by Name is not as useful as by Modified or Identifier.  I think making web ui sort by Modified (or Identifier) would be more "fair" and informative IMHO.

[2021-06-14 18:39] dchiquito opened #735 "Better UX for validation failures"
Right now you need to hover over the grayed out Publish button to see what failed. This is hard to find and can be communicated better.

Maybe a little hovering superscript number indicating how many validation problems there are?

(Related: https://github.com/dandi/dandiarchive/issues/459)

[2021-06-14 20:05] yarikoptic opened #809 "Display "Waiting approval" for users which are "disabled""
ATM inactive users would see
![image](https://user-images.githubusercontent.com/39889/121952319-10da6200-cd2a-11eb-8790-630376ac15fe.png)

Similarly to "LOGIN WITH GITHUB" for users which are registered but not yet enabled (or which were disabled) I think we should just display non-actionable "WAITING FOR APPROVAL" and otherwise just remain in "read-only" observation mode.

This is the frontend co

[2021-06-14 21:36] waxlamp commented on #735
@jtomeck, could you give us some design ideas for this?

[2021-06-14 21:48] jtomeck commented on #735
I've actually been thinking about integrating a notifications menu to the page, but want sure if there was anything to be notified about. This could be the use case for it though. I can have a mockup for you in the morning.

[2021-06-14 22:23] mvandenburgh opened #737 "Meditor validation UI bug"
The change made in #729 introduced a bug where the validation indicator in the Meditor UI may not show correctly (see https://github.com/dandi/dandiarchive/pull/729#issuecomment-861001847). The change can be reverted regardless, since the performance issues it was introduced to mitigate have been solved by upgrading VJSF.

[2021-06-14 22:40] #737 closed

[2021-06-15 13:55] mvandenburgh opened #740 "Blank screen if OAuth token is invalid"
The `/api/users/me` endpoint responds with a `401 Unauthorized` response if the client's OAuth `access_token` is invalid. The client does not properly catch this error, and instead just shows a blank white screen; right now the only way to get the UI to appear again is to manually clear the cookie from the browser.

[2021-06-15 14:16] waxlamp commented on #740
What's the easiest way to reproduce this?

[2021-06-15 14:24] mvandenburgh commented on #740
I think the easiest way is to just manually edit the cookie to invalidate it.

- Log in to dandiarchive w/ github oauth
- Open chrome dev tools -> Application tab -> Local Storage tab
- Invalidate the `access_token` field of the `oauth-token-xxxxx` entry by modifying it (not deleting it), then refresh

[2021-06-15 15:03] yarikoptic commented on #740
loosely related to https://github.com/dandi/dandi-api/issues/331 -- as dandiarchive.org web-ui causes disabled users to end up in that api.dandiarchive.org page instead of IMHO just reporting in its web ui "Waiting approval" or "User is not enabled" or something alike.

[2021-06-15 22:04] waxlamp commented on #642
With the addition of the "help" link in #731, I believe this is done.

[2021-06-15 22:04] #642 closed

[2021-06-16 14:51] mvandenburgh opened #743 "VJSF 2.0.2 breaks "basicModel" forms in Meditor"
The VJSF upgrade in #730 that fixes the freezing problems seems to introduce a new bug in the Meditor. Any edits to the "basicModel" forms (i.e. any VJSF form that is present on the main Meditor screen like `Dandiset title`, `Description`, `Study Target`, `License`, etc.) are not persisted after clicking the save button. "complexForms" still work.

GIF demo of the bug, note that changes are saved

[2021-06-16 19:19] yarikoptic opened #745 "Handle specific DOMException when dandiarchive is hosted in an iframe"
visiting https://dandiarchive.org which forwards to web ui, if page is embedded within iframe (trying to prepare for the virtual OHBM 2021 booth) leads to

[code]
so the question is either we need access to the entire `Window` or it could be avoided?

[2021-06-17 13:58] waxlamp commented on #743
This is a critical bug. My intuition is there's some small thing we're missing so hopefully it's easy to fix, but please make this your priority in the short term, @mvandenburgh.

[2021-06-17 14:38] waxlamp commented on #745
Strangely enough, I don't see `localStorage` appear anywhere in the dandiarchive codebase. Do you have an idea of where that access is coming from?

[2021-06-17 14:49] AlmightyYakob commented on #745
It looks like [girder-oauth-client](https://github.com/girder/girder-oauth-client/blob/65ba6a24bbf0a69926c126b14a69ea3061354966/src/oauth-client.ts#L102) does makes use of `localStorage`, which we use in the GUI for login to the API.

I'm a bit confused, what does embedding the page into an iframe accomplish?

[2021-06-17 15:48] #743 closed

[2021-06-17 16:36] yarikoptic commented on #745
- dandiarchive.org redirects to web ui
- I have dandiarchive.org as the one for DANDI on https://centerforopenneuroscience.org/projects#dandi_
- my OHBM conference booth has https://centerforopenneuroscience.org/ embedded in an iframe so people visiting the "booth" can immediately visit anything pertinent and jump to projects pages (such as DANDI)

so to answer the

make visitors of "my" OHBM boot

[2021-06-17 17:24] jtomeck commented on #735
<img width="473" alt="Screen Shot 2021-06-17 at 1 17 56 PM" src="https://user-images.githubusercontent.com/1560779/122444668-ca297980-cf6e-11eb-95a2-362152ffa312.png">

Sorry this took longer than expected. I sat with Mike and Roni to demo how and what validation failures occurred, so my mockup could be a bit better informed. The issues would show up in this dropdown next to the publish button and

[2021-06-17 17:29] waxlamp commented on #745
Thanks for the extra information, @yarikoptic.

Does the crash happen specifically when trying to log in? Or does it always happen upon visiting the page at all?

[2021-06-17 17:58] satra commented on #735
making publish green would require addressing both meditor issues and asset issues. it may be worthwhile discussing this and figuring out a clean interface.

[2021-06-17 18:03] yarikoptic commented on #745
That's a great question/point -- I forgot to realize that I was already logged in! so  I logged out, reloaded booth page, followed the links again -- the same story.  so I guess it happens regardless of either I am logged in or not -- I guess that localStorage (instead of some not-shared among "sessions") is used to check if I am logged in or not.

[2021-06-17 18:06] waxlamp commented on #745
Then I think we can add logic that catches this condition and changes or removes the login button, since in an iframe that feature is not supported. Then the default situation is to be in "read-only mode" for new visitors. (I am not sure what the situation will be for logged-in visitors; I suspect they will also be in the same "read-only" mode.)

[2021-06-17 18:10] jtomeck commented on #735
By asset issues do you mean issues with the actual files? Regardless, I think the alternate option I discussed above would be best.

1. Show 2 icons next to the publish button:
    - [this one](https://materialdesignicons.com/icon/clipboard-alert) for metadata issues, although there could be a better one.
    - [this one](https://materialdesignicons.com/icon/database-alert) for file issues)
2. Eac

[2021-06-17 18:12] yarikoptic commented on #745
sounds good to me @waxlamp , thanks!

[2021-06-17 19:42] waxlamp commented on #292
ping @brianhelba

[2021-06-17 19:50] waxlamp commented on #345
@dchiquito is this still a valid thing to have open? Go ahead and close with a quick explanation if not.

[2021-06-17 19:53] brianhelba commented on #259
`<v-btn>` and other styled Vuetify components have [a `to` prop](https://vuetifyjs.com/en/api/v-btn/#props-to) and [an `exact` prop](https://vuetifyjs.com/en/api/v-btn/#props-exact).

This issue is still relevant as a practice to ensure that elements which change their appearance or state when they match the current route do so accurately. Of course, it's probably low priority.

[2021-06-17 19:54] brianhelba commented on #292
I don't recall the specifics of this issue, but I suspect it's been satisfied by other planning documentation created since this was first opened.

I'll close it as resolved.

[2021-06-17 19:54] #292 closed

[2021-06-17 20:02] waxlamp commented on #420
How important is it to have the correct version/git sha displayed in a Docker-hosted deployment? AFAIK, Docker is only used for development, and in dev we have more direct ways of obtaining the exact git revision, etc.

[2021-06-17 20:05] waxlamp commented on #425
@mvandenburgh, looks like you worked on a fix for the old Girder 3 system (https://github.com/dandi/dandiarchive/pull/426) but unfortunately that didn't actually make it into master before your internship was up. Could you take on the task of reviving that fix in the current system?

[2021-06-17 20:06] waxlamp commented on #432
I believe this has been solved. @AlmightyYakob, please re-open if it has not.

[2021-06-17 20:06] #432 closed

[2021-06-17 20:14] waxlamp commented on #735
It's only the dandiset validation errors that can be fixed in the meditor; asset validation problems need to be listed out but AFAIU those cannot actually be fixed via the web app.

So, some way to say "there are metadata errors that you can fix by clicking here to go to the meditor" and also "here are the asset validation problems; fix them in your files and reupload" (or whatever the correct adv

[2021-06-17 20:26] waxlamp commented on #464
According to this [doc page](https://docs.github.com/en/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks) there's a manual action to enable a public fork to run Actions from their branch, so this may be solved already. Not sure how to try this out though, since all of us have push access to the main repo already.

[2021-06-17 20:27] waxlamp commented on #468
@jwodder, is this still a problem with our post-migration stack?

[2021-06-17 20:28] jwodder commented on #468
@waxlamp No.

[2021-06-17 20:29] #472 closed

[2021-06-17 20:30] waxlamp commented on #474
Is this still a problem, @yarikoptic?

[2021-06-17 20:38] mvandenburgh commented on #425
Yes I can do that.

[2021-06-17 20:39] #468 closed

[2021-06-17 20:49] waxlamp opened #747 "Removing last owner should not be allowed in UI"
The semantics of dandiset ownership require at least one owner. The UI allows an owner/admin to remove the last owner of a dandiset, though the server request fails (as expected).

The UI should not allow clicking on the X for the single owner of any dandiset.

[2021-06-17 20:51] waxlamp opened #748 "UI should disable the "manage" menu if an owner removes themselves"
The ownership management UI allows an owner to remove themselves from ownership, as it should.

Once this change is saved, however, the "manage" menu link stays enabled, which is a mode error.

It may make sense to _warn_ a user that removing themselves will lock them out of further ownership actions, including adding themselves back as an owner.

[2021-06-17 20:52] waxlamp commented on #478
I believe this issue has been fixed. However, in the course of testing the behavior out, I filed two new issues (both more minor than this one): #747, #748.

[2021-06-17 20:52] #478 closed

[2021-06-17 20:58] waxlamp opened #749 "Add an admin toggle for superusers"
It is often very useful to test out functionality in the deployed DANDI instance from the perspective of a non-superuser. I'd like to add a toggle to the UI somewhere, only visible to superusers, that can be used to disable superuser powers at will. It would work like this:
- the switch appears for all superusers, no matter what
- if the switch is on, then the app behaves as it does right now
- if

[2021-06-17 21:11] waxlamp commented on #479
Emails seem to be working nicely.

[2021-06-17 21:11] #479 closed

[2021-06-17 21:15] waxlamp commented on #490
I think this is fixed; re-open if not, @AlmightyYakob.

[2021-06-17 21:15] #490 closed

[2021-06-17 21:16] waxlamp commented on #492
Mooted by migration.

[2021-06-17 21:16] #492 closed

[2021-06-17 21:18] waxlamp commented on #502
Though the underlying concepts are still important, I believe the specific problem in this issue has been resolved (since we're no longer using GWC to display anything).

[2021-06-17 21:18] #502 closed

[2021-06-17 21:21] waxlamp commented on #503
Indeed, #425 is still active but Mike V. is working on it now.

@satra, is there an action to take on dandiset 38? I imagine after the correct behavior is implemented, we may want to autofix all contactless dandisets in a careful one-time operation? If that's the case, I can add that as a TODO to #425 and close this issue in favor of that.

[2021-06-17 21:31] waxlamp commented on #511
@satra, please let me know if this can be closed.

[2021-06-17 21:33] waxlamp commented on #513
I am not sure this is still needed. It could be a useful feature but if there's no need for it we can close.

Please advise, @satra and @yarikoptic.

[2021-06-17 22:02] satra commented on #511
yes, organisms are now controlled completely by the NWB metadata.

[2021-06-17 22:02] #511 closed

[2021-06-18 00:05] satra commented on #503
This is general and we can add owners as contributors to any dandiset that doesn't have one. Btw, this is true of license as well so, creating a dandiset should also ask for a license.

[2021-06-18 00:13] satra commented on #513
There are many ways of getting at this, including a download option in the meditor, so I would say we close this

[2021-06-18 00:13] #513 closed

[2021-06-18 01:30] yarikoptic commented on #513
FWIW, concur with having it closed.

[2021-06-18 13:51] waxlamp commented on #548
@dchiquito, I don't fully understand this--can you explain where this shows up as a problem in the GUI?

[2021-06-18 13:53] mvandenburgh commented on #745
I filed a PR to hide the login button when the page is in an iframe (#750).

Everything works as it should if a user is logged in already, so I didn't make them go into read-only mode.

[2021-06-18 13:54] waxlamp commented on #549
@dchiquito, now that we've migrated we can fix this issue (even though we haven't ripped out all of the feature flag stuff), correct?

[2021-06-18 13:55] waxlamp commented on #561
This is solved with the introduction of the staging deploy.

[2021-06-18 13:55] #561 closed

[2021-06-18 13:59] waxlamp commented on #562
I don't think this is relevant anymore: I cannot reproduce according to the linked instructions, since there is no way to carry out the last step.

[2021-06-18 13:59] #562 closed

[2021-06-18 14:00] mvandenburgh opened #751 ""Edit Metadata" button is still active for published dandisets"
https://github.com/dandi/dandi-api/issues/347#issuecomment-863669699

~The "Edit Metadata" button should be disabled for published dandisets.~

The "View Metadata" button should be displayed when viewing a published dandiset, not the "Edit Metadata" button.

[2021-06-18 14:01] waxlamp commented on #571
Going to close--please re-open if there's still a problem.

[2021-06-18 14:01] #571 closed

[2021-06-18 14:04] waxlamp commented on #575
I believe this has been done. We were convinced that things were ok after the migration and since then we've been engaged with users to solve any problems that have popped up.

[2021-06-18 14:04] #575 closed

[2021-06-18 14:07] waxlamp commented on #579
@yarikoptic, is there a dandiset where you can demo this bug currently?

[2021-06-18 14:08] waxlamp commented on #580
This looks interesting. @yarikoptic would you mind making a note of this in your personal documents? Unless something is actionable, I'd like to keep it out of the issue tracker.

[2021-06-18 14:08] #580 closed

[2021-06-18 14:10] satra commented on #751
just to clarify it should allow view metadata (just not edit).

[2021-06-18 14:13] waxlamp commented on #584
Why not just a link to the dandiset in the post text itself--what's gained by using an out-of-band mechanism to link back to a dandiset?

[2021-06-18 14:14] yarikoptic opened #752 "cite as url for dandiset is wrong"
I think I saw some recent issue or PR by @satra about that, can't find, feel welcome to close if it is a duplicate

https://gui-staging.dandiarchive.org/#/dandiset/000003/draft  for Cite as says

3 (2021). (Version draft) [Data set]. DANDI archive. https://dandiarchive.org/000003/draft

but the url is missing `/dandiset` : as in https://dandiarchive.org/dandiset/000003/draft

[2021-06-18 14:21] waxlamp commented on #595
I just tried in an incognito window as suggested, and couldn't reproduce. Closing for now but please re-open if you believe there's still a problem.

[2021-06-18 14:23] yarikoptic opened #753 "idea: make authors and keywords on dataset landing page clickable to feed the search"
Looking at

![image](https://user-images.githubusercontent.com/39889/122575216-82fac180-d01e-11eb-8703-49bb8f8737ce.png)

clicking on any author or keyword (ATM does nothing) could just take that entity and feed the search bar, thus allowing to quickly navigate archive for a specific author or keyword, e.g. clicking on `alpha rhythm` should lead to

![image](https://user-images.githubusercontent.c

[2021-06-18 14:27] waxlamp commented on #598
This is actually how we want it to behave, right? We should be able to save bad metadata in a draft--it just won't be publishable until the metadata is valid.

Please re-open if I have that wrong.

[2021-06-18 14:27] #598 closed

[2021-06-18 14:40] waxlamp commented on #600
Do you still have this 1e6 test dandiset? The best I can do at the moment is https://gui.dandiarchive.org/#/dandiset/000045/draft/files?location=, which only has ~6000 assets in it, but at least there's no significant lag in loading the file browser. (But it doesn't have a two-level hierarchy either.)

[2021-06-18 15:02] yarikoptic commented on #571
FWIW, I did go to https://gui.dandiarchive.org/#/dandiset/000008/draft/files?location=sub-mouse-AAYYT%2F and it seems to work

[2021-06-18 15:09] waxlamp commented on #603
I believe this is now moot.

[2021-06-18 15:09] #603 closed

[2021-06-18 15:15] yarikoptic commented on #600
- go to https://gui.dandiarchive.org/#/dandiset/000052
- navigate down to https://gui.dandiarchive.org/#/dandiset/000052/draft/files?location=dataset%2Fsub-MGH_19-1_021520%2Fmicroscopy%2F
- click on breadcrumbs to go one directory up

extra side effects discovered while trying to re-prepare the reproducing workflow here:
- leaving that tab with deep down directory while it still is populating the

[2021-06-18 15:21] waxlamp commented on #605
This seems to be done already.

[2021-06-18 15:24] waxlamp commented on #613
This is a dupe of #546, but it includes more information so I'll close that in favor of this.

[2021-06-18 15:24] waxlamp commented on #546
Closing in favor of #613.

[2021-06-18 15:24] #546 closed

[2021-06-18 15:28] satra commented on #605
i'm not sure this is done already. clicking on new dandiset does not ask for a license. perhaps one thing that could be done is the new dandiset uses a version of the meditor but has a description saying what is required.

the minimum validation requirements for a dandiset are quite limited and perhaps that's a way to also reduce spam.

[2021-06-18 15:30] waxlamp commented on #621
Since the arrow was removed, this is solved.

[2021-06-18 15:30] #621 closed

[2021-06-18 15:39] waxlamp commented on #638
Not seeing a delay on the link in the description, @satra. Has that dandiset changed, or has this somehow been resolved?

[2021-06-18 15:42] waxlamp commented on #638
Ah indeed I see a delay with this link: https://gui.dandiarchive.org/#/dandiset/000026/draft/files?location=rawdata%2Fsub-I46%2Fses-SPIM%2F. I'll update the description.

[2021-06-18 15:44] waxlamp commented on #639
Browser search works for me too. This seems to be a problem elsewhere but if there's a connection to the DANDI archive code, please re-open.

[2021-06-18 15:44] #639 closed

[2021-06-18 15:47] waxlamp commented on #652
@sanuann can you take this on?

[2021-06-18 15:56] waxlamp commented on #694
This investigation is concluded, with a fix in #730 waiting on a schema upgrade.

[2021-06-18 15:59] waxlamp commented on #712
@bendichter, I see the correct diacritic on György's name; were you able to fix this since filing this issue?

[2021-06-18 16:02] sanuann commented on #652
Sure, will work on it on Monday.

[2021-06-18 16:03] waxlamp commented on #728
@yarikoptic is there a related issue filed in dandi-api?

[2021-06-18 16:04] waxlamp commented on #734
I think Modified is better, so that newer stuff is at the top. 30% more dynamic™️!

Opinions?

[2021-06-18 16:08] satra commented on #734
+1 for Modified being default (we should eventually get to the toggle mode of dandisets with and without any data :) )

[2021-06-18 16:29] bendichter commented on #712
yes, I was able to fix this. I don't know what caused the error and am not able to reproduce. I thought the JS error might be helpful, but feel free to close.

[2021-06-18 16:38] yarikoptic commented on #595
did you try to create a new user and login or just as before with an already existing one @waxlamp ?

[2021-06-18 16:40] yarikoptic commented on #580
github is my "personal documents" ;) So the note is made (here), and it is generally ok to just close `FOI:` issues "upon reading".  It keeps them available for search etc if later someone decides to look up anything on "load testing" (so - would be "shared knowledge" instead of "personal").

[2021-06-18 16:42] yarikoptic commented on #728
I don't know.  if it was, it would have probably been back-referenced here. So most likely - not, or was not yet searched-up/cross-referenced.

[2021-06-18 17:15] waxlamp commented on #753
I don't understand what this means--could you clarify?

[2021-06-18 17:18] #577 closed

[2021-06-18 18:57] yarikoptic commented on #753
user clicks on `alpha rhythm` `<span>`, "onClick" event adds `"alpha rhythm"` into `///input` with id `input-115` ( ;-) -- would be nice to have an `id` like `top-search-bar`) and sends `.click()` or whatever is the event which is as if you hit "Enter".

[2021-06-18 18:58] yarikoptic commented on #753
oh, may be I misunderstood the question.  What I meant is that it is sufficient to paste in a dandiset landing page search bar, e.g. straight on https://gui.dandiarchive.org/#/dandiset/000020 and when you hit "Enter" it jumps to https://gui.dandiarchive.org/#/dandiset/search?search=alpha

[2021-06-21 13:36] waxlamp commented on #595
With an existing user.

I just tried in an incognito window on staging, logging in with Dandibot (which did not yet have an account there), but I could not reproduce the issue. That is, as soon as I logged in, I clicked on the login badge, and saw an API key there.

If this has not caused any difficulty since the initial report, I'd like to close the issue since we cannot reproduce. If you are abl

[2021-06-21 13:37] #726 closed

[2021-06-21 14:16] waxlamp commented on #712
I've seen that class of error in a few other circumstances in which the UI allows an action to proceed that, based on permissions, it shouldn't, but I don't think that was specifically connected to the trouble you were running into.

I'll close this issue but of course you can file a new one if this sort of thing crops up again. Thanks Ben!

[2021-06-21 14:16] #712 closed

[2021-06-21 17:04] waxlamp commented on #605
Ah, you want the license selection to be required at the time of creation of the dandiset.

Is it not sufficient to make the license field required? Then the creator can defer the selection to later. What's the reason for forcing the selection at creation time?

(Perhaps a separate topic but--for that matter, what's the value in forcing a description at that time as well?)

[2021-06-21 17:20] waxlamp opened #755 "Add owners of each dandisets as contributors"
This is a one-time fix operation that depends on #425 being solved first.

The fix should, for each dandiset, add any owners as contributors if they are not already present in the contributor list.

[2021-06-21 17:22] waxlamp commented on #503
Sounds good. I'll close this in favor of #425 and #755.

[2021-06-21 17:22] #503 closed

[2021-06-21 17:27] waxlamp commented on #474
Closing this; please re-open if the problem persists.

[2021-06-21 17:27] #474 closed

[2021-06-21 17:28] #420 closed

[2021-06-21 18:05] satra commented on #605
i think just enough of a hill to climb to make people think about things.

[2021-06-22 01:32] yarikoptic commented on #605
One of the reasons could be: we are distributing draft versions of datasets. Before publish we otherwise wouldn't have a chance to enforce having a license for distributed draft version of the dandiset. Mandating having license specified at creation time resolves that.

[2021-06-22 17:16] mvandenburgh commented on #425
Closed by https://github.com/dandi/dandi-api/pull/351.

[2021-06-22 17:16] #425 closed

[2021-06-22 17:51] waxlamp commented on #753
Why do we need to populate the search bar? Could we not simply link the, e.g., `alpha rhythm` chip directly to https://gui.dandiarchive.org/#/dandiset/search?search=alpha%20rhythm?

[2021-06-22 18:33] yarikoptic commented on #753
Sure thing... not sure why I was talking in UI terms/elements, need vacation ;-)

[2021-06-22 18:34] waxlamp commented on #753
Perhaps just some time in the sauna 😂

[2021-06-22 19:29] #740 closed

[2021-06-22 20:45] #734 closed

[2021-06-23 00:09] satra opened #758 "switch modified's sort direction"
i think the default modified direction is from oldest to newest. we should switch it to the other mode :)

[2021-06-23 00:56] yarikoptic commented on #758
FWIW, Doh, I have missed that, indeed
![Screenshot_20210622-205620](https://user-images.githubusercontent.com/39889/123018350-60f59c00-d39c-11eb-9727-e41e67d731a8.png)

[2021-06-23 01:08] #758 closed

[2021-06-23 01:08] mvandenburgh commented on #758
Oops, fixed that.

[2021-06-23 13:45] mvandenburgh opened #759 "Change direction of arrow icon for sorting by "modified""
https://github.com/dandi/dandi-api/pull/355#issuecomment-866448082

The sorting arrow icon should point up when sorting by "modified" with most recently modified first, and down when sorting by "modified" with least recently modified first (right now the opposite is happening).

[2021-06-23 14:08] mvandenburgh commented on #759
This should be fixed now. Apologies all for the PR notification spamming :sweat:

[2021-06-23 14:08] #759 closed

[2021-06-23 18:17] waxlamp opened #761 "Eliminate "authorize" screen during login"
During login, first the user is redirected to GitHub to provide credentials there, then they are redirected to a DANDI OAuth authorization screen, and finally they are redirected back to the app.

The second screen is redundant from the user's point of view, and in fact can be confusing. We should eliminate that step and consider the provision of credentials to GitHub to be authorization to use th

[2021-06-23 19:38] #652 closed

[2021-06-23 20:04] yarikoptic commented on #761
FWIW: for me (as started to happen in webshots) that screen was appearing sporadically recently, so I had added a conditional handling in the https://github.com/dandi/dandi-api-webshots/blob/master/tools/make_webshots.py#L94 and mentally attributed to some github logic to re-ensure periodically user's decision.

[2021-06-23 20:21] yarikoptic commented on #759
Thank you @mvandenburgh --  Looks proper on the site! No problem with PR notifications whatsoever -- keep them coming!

[2021-06-24 13:55] dchiquito opened #762 "Make validation error hover wrap lines"
Currently if a validation error has multiple lines, it is rendered with no line breaks, which makes it much less legible.

[2021-06-24 13:56] dchiquito opened #763 "Sort by identifier"
The default sort on the dandisets page is alphabetical, which is not very sensical.

[2021-06-24 14:08] waxlamp commented on #763
Didn't @mvandenburgh just solve this recently, making the modified time the default sort criterion?

[2021-06-24 15:04] dchiquito opened #764 "Hide Edit Metadata on published dandisets"

[2021-06-24 16:25] waxlamp commented on #764
This is a dupe of #751.

[2021-06-24 16:25] #764 closed

[2021-06-24 18:45] dchiquito commented on #763
Apparently `modified` is what is being used in staging right now at the request of the collaborators, so everytihng is working as intended.

[2021-06-24 18:45] #763 closed

[2021-06-25 13:00] satra opened #765 "turn assetsSummary into a proper Summary display"
we are now computing assetsSummary (example here: https://gui-staging.dandiarchive.org/#/dandiset/000002). however, as you can see the display does not render this properly.

i think many things could become like we display keywords. you could title the section as `Dandiset summary` and have sub sections.

also `schemaKey` should not appear in the landing page anywhere.

[2021-06-25 13:34] waxlamp commented on #765
@jtomeck, this could eventually be part of the DLP redesign process.

[2021-06-25 13:38] jtomeck commented on #765
Is there a reason it would need to stay in a non-human-readable array format, or is there value to tidying that up?

[2021-06-25 13:45] satra commented on #765
there is no reason for this to stay in a non-human-readable format. the information in this key can also be used for the files + size component in the sidebar.

ps. i think we are moving to a state where there are versions of dandisets and anything about the DLP besides versions of a dandiset would be in the metadata of that version. once we hit publish the DLP would have to respect the version mo

[2021-06-25 14:51] mvandenburgh commented on #745
This turned out to be an issue with third party cookies not being enabled. Once enabled, the exception no longer occurs.

[2021-06-25 14:51] #745 closed

[2021-06-25 15:03] yarikoptic commented on #765
Probably would not be fully reusable, but as the top level https://gui-staging.dandiarchive.org/#/ summary is just summary over the assetSummaries, consistency of the display of the aggregated assetSummary on the main page with the display per dandiset might contribute to better UX, so might be something to keep in mind.

[2021-06-25 17:58] jtomeck commented on #735
![Dandiset Landing PageDANDI-1](https://user-images.githubusercontent.com/1560779/123466066-e48dd380-d5bc-11eb-9e25-471c20d7961c.jpg)
Tooltip on disabled publish button

![Dandiset Landing PageDANDI](https://user-images.githubusercontent.com/1560779/123466136-fa9b9400-d5bc-11eb-84bf-fd5775c2a099.jpg)
Tooltip on metadata icon

![Dandiset Landing PageDANDI-4](https://user-images.githubusercontent.co

[2021-06-25 20:24] yarikoptic opened #768 "Test for being allowed to place a cookie and inform if not"
#750 provided a workaround for my initial symptom but not the underlying issue -- not allowed cookies: https://github.com/dandi/dandiarchive/pull/750#issuecomment-864098495

if browser has cookies disabled -- the same issue happens without any iframe

![image](https://user-images.githubusercontent.com/39889/123481061-3dfffd80-d5d1-11eb-951f-3f165392f01c.png)

Didn't look into details of current po

[2021-06-27 16:15] satra commented on #735
@jtomeck - this looks great. for the assets, perhaps allowing a txt file download would be good. those cannot be fixed in the browser and can also be too many to view. we should also say to fix these issues, use the DANDI CLI instead of the API.

[2021-06-28 13:14] waxlamp commented on #735
What do you mean by "txt file download"?

[2021-06-28 13:52] satra commented on #735
download the asset validation errors description as a file.

[2021-06-28 13:56] waxlamp commented on #735
I see. Before we decide on that, I'd like to understand better the intended workflow for when assets fail validation. Could you lay out a user story for how you envision it working?

A couple of pre-questions I have about it: if some asset fails validation, the fix in general is to reupload that asset, right? And the intention is for users to validate assets *locally* using `dandi-cli` (which in t

[2021-06-28 14:11] satra commented on #735
asset validation can only be fixed via:
1. nwb reconversion with appropriate metadata
**AND/OR**
2. metadata update by the CLI in case the supported schema has moved on, or other metadata could be extracted.

1 has to be on the client system while 2 could potentially be done on the server as a background task if the owner authorizes.  for the moment let's focus on client fixes with CLI. there are

[2021-06-28 15:38] waxlamp commented on #735
Thanks for this detail, @satra! So to grossly summarize, it sounds like the main friction point would be in lingering draft versions that persist across an asset metadata schema release?

In the short term I think that displaying the validation failures in a table in a modal might be easier and better than offering a text file export but we can probably do that as well.

[2021-06-28 17:00] mvandenburgh commented on #600
I looked closer at the problem and the slowness does indeed seem to be a result of the client waiting for all the download buttons to be populated as @yarikoptic said. To get those download links the client sends a request to the server for each of the files in the current directory, so when you have hundreds/thousands or more files in a directory it lags a lot.

It seems we need some way of limit

[2021-06-28 17:28] yarikoptic commented on #600
I would not mind to re-introduce pagination (I believe it was in place with an older web ui), but I guess it would be best if it was just interfacing pagination of the API.

So IMHO it would be better to finish up https://github.com/dandi/dandi-api/pull/312 .  Unfortunately "pagination" there would be just at the level of a "return" values serialization, and we would still need to go through all t

[2021-06-28 17:52] #751 closed

[2021-06-28 18:48] waxlamp opened #769 "Add ability for admins to hide dandisets"
This allows us to hide test dandisets and avoid polluting the public view of the archive.

[2021-06-28 18:51] waxlamp opened #770 "Allow for thumbnails to be associated to dandisets"

[2021-06-29 14:34] waxlamp opened #771 "Change "about" link to point to dandiarchive website top-level"
The about link currently points to https://dandiarchive.org/about, which in turn redirects to https://www.dandiarchive.org/.

Is this intended behavior (@satra)? If not, we should eliminate the redirect and point the about link directly to https://www.dandiarchive.org/.

[2021-06-30 04:08] satra commented on #765
@mvandenburgh - just assigned this to you, in case you have some bandwidth and since sanu may be off for a few days. any hack to present it will likely be better than how it looks right now :)

[2021-06-30 16:54] mvandenburgh opened #772 "Console error when viewing dandiset"
A console error occurs when viewing a dandiset. (`Error evaluating async computed property`)

Previously, it occurred as a result of accessing `this.publishDandiset` on this line https://github.com/dandi/dandiarchive/blob/master/web/src/views/DandisetLandingView/DandisetLandingView.vue#L140. Until recently that code only ran when a non-admin, logged-in user viewed a dandiset - I'm guessing that's

[2021-06-30 17:41] waxlamp commented on #752
Well! This seems to have been fixed, even though I didn't fix it!

@yarikoptic, I'll close this as fixed, but if you see continued problems here please do re-open.

[2021-06-30 17:41] #752 closed

[2021-06-30 23:29] yarikoptic opened #775 "metadata viewer: Make URLs into <A>"
![image](https://user-images.githubusercontent.com/39889/124043597-5741e900-d9d9-11eb-8375-39de586012be.png)

URL of the resource is not a link as it should be (with all security related additions like opening in new window/tab etc)

[2021-07-01 16:07] mvandenburgh commented on #694
The slowdown still persists even after applying the fix in #730 - reopening this issue.

[2021-07-01 16:12] satra commented on #694
@mvandenburgh - i've updated this codepen to use dandiset 26  (https://codepen.io/satra-the-reactor/pen/NWbKbrj?editors=1010) perhaps you can use this as an example with vjsf issue to see what could be done to speed things up.

[2021-07-01 16:13] satra commented on #694
that being said, other dandisets are quite a bit faster now as a result of the change. and even this dropped by about 10s

[2021-07-01 16:33] waxlamp commented on #775
@jtomeck, please consider this a sub-issue of #687.

[2021-07-02 19:37] bendichter opened #779 "medium size menu layout"
The layout looks great when large and when small, but there's an awkward middle ground:

![image](https://user-images.githubusercontent.com/844306/124321194-487b4380-db4b-11eb-8748-622e01d022fd.png)

* the logo is tiny
* the "new dandiset" and user initials are stacked awkwardly

[2021-07-02 19:42] bendichter opened #780 "clicking on NWB file in data viewer does nothing"
In the data explorer, the NWB files are clickable, but from what I can tell when you click on them nothing happens:

https://user-images.githubusercontent.com/844306/124321571-f2f36680-db4b-11eb-9106-eade7ab8d066.mov

I'd prefer to have it like before where you can an information panel about that file to the right, but if we aren't going to have that then we shouldn't make the it clickable.

[2021-07-02 20:46] yarikoptic commented on #70
I was not talking about our services, but rather external services which could be used on each file.

[2021-07-02 20:48] yarikoptic commented on #780
It is a feature -- finger exercise, we should add that to the handbook!

related:  it could have been a context menu with actions ("Download", "Copy Download URL" + additional external  services e.g. https://github.com/dandi/dandiarchive/issues/70) and eventually may be some *in-house* "View" etc

[2021-07-02 20:57] bendichter opened #781 "publish button reporting no files"
![image](https://user-images.githubusercontent.com/844306/124327837-87fb5d00-db56-11eb-8a8c-5e67f5c83e41.png)

For dandiset 8, the UI is reporting that the dandiset contains 0 bytes of data, but that is clearly not the case.

[2021-07-06 13:34] sanuann commented on #765
@mvandenburgh are you working on this?

[2021-07-06 13:44] satra commented on #765
@sanuann - i was going to work on this, but got sidetracked with all the asset updates. please go ahead and work on this.

[2021-07-06 20:20] #762 closed

[2021-07-13 15:28] waxlamp commented on #779
Thanks @bendichter. I'm looking into fixing this.

[2021-07-13 15:30] jtomeck commented on #779
I believe the solution here would be to either decrease the size of the navigation items at smaller size or to collapse it and hide it under a hamburger menu. Looking at the screenshot, those "new window" icons look pretty big and can probably be reduced to `size="18"`. That will help, but the two solutions I mentioned in the first sentence would still most likely be needed.

I can take on this wo

[2021-07-13 16:10] satra commented on #779
+1 for hamburger menu

[2021-07-14 19:26] bendichter opened #789 "when dataset is empty, offer button for upload instructions"
![image](https://user-images.githubusercontent.com/844306/125681077-c210041b-1d1b-4c05-869c-44919d6a962e.png)

Perhaps replace View Data with Upload Instructions when the dandiset is empty (since there is no data anyway)

[2021-07-14 21:17] bendichter opened #790 "metater user notes"
* the License (i) icon should offer more helpful hints about the different license types

* provide brief instruction on the top:
	Red is required
	To add funding information, …

* Protocol (i): protocol.io -> protocols.io

[2021-07-15 13:23] waxlamp commented on #789
@jtomeck is thinking about this as part of the DLP redesign. Thanks for calling it out specifically, and for the view data / upload instructions idea.

[2021-07-15 14:26] yarikoptic opened #791 "Allow to login with a (known) API key instead of going through github oauth"
Primarily to facilitate automated testing/interaction with webui, originally came up in https://github.com/dandi/dandi-api-webshots/issues/1 for which we had to move webshots to be done on a dedicated in-house box (drogon) with persistent device id.

The question came back while discussing automating figures/webshots for documentation.

[2021-07-15 14:26] yarikoptic opened #792 "Allow to login with a (known) API key instead of going through github oauth"
Primarily to facilitate automated testing/interaction with webui, originally came up in https://github.com/dandi/dandi-api-webshots/issues/1 for which we had to move webshots to be done on a dedicated in-house box (drogon) with persistent device id.

The question came back while discussing automating figures/webshots for documentation.

[2021-07-15 15:02] satra commented on #792
transferred to dandiarchuve.

one way of doing this is to allow it as a parameter for the Vue app: `httpurl/?api_key=<apikey>`

vue can store this value directly and use it internally for all operations. this will bypass the need for changing the login process and allows a quick injection of the api key into the client.

[2021-07-15 16:23] yarikoptic opened #793 "Provide more ids"
Follow up to #648

In our particular use case we would like to get an id for the modal window with api key which appears when you click on the avatar, i.e. this :

![image](https://user-images.githubusercontent.com/39889/125822901-7e0b2fdc-e988-43f4-8841-806e7f5ba96b.png)

edit: forgot to mention that ATM I have not spotted id for any related element there besides auto generated like `list-item-64

[2021-07-15 16:45] #527 closed

[2021-07-15 16:45] #724 closed

[2021-07-16 20:14] waxlamp commented on #792
I'd like to offer a solution to the problem of automated testing login that will not require engineering a new feature solely to support that corner case. Here's a procedure to illustrate it (initially designed and tested by @dchiquito):

1. Open an incognito browser window.
2. Navigate to https://api-staging.dandiarchive.org/admin/.
3. Log in with username `dandiwebshots@dandiarchive.org` and the

[2021-07-16 21:31] satra commented on #792
@waxlamp - we need this for generating webshots of actual dandisets. so this is not testing per se, but snapshots of the archive itself in production.

[2021-07-16 21:33] #765 closed

[2021-07-16 22:08] waxlamp commented on #792
The procedure Daniel cooked up should enable this use case though, right?

[2021-07-16 22:33] satra commented on #792
as long as it can work on the main api server. sorry, if i misread this as only working with staging.

[2021-07-16 22:53] satra opened #797 "skip empty values for assets summary"
here is an example: https://gui.dandiarchive.org/#/dandiset/000108

[2021-07-17 19:40] #797 closed

[2021-07-19 13:59] #793 closed

[2021-07-19 15:18] #600 closed

[2021-07-19 16:28] satra commented on #654
since #292 has now been addressed, can we do a quick hack to add :
- size of the file
- link out to file metadata (from the api server)
before addressing this issue in more general detail

[2021-07-19 21:23] AlmightyYakob commented on #654
This already exists in the response, so this is easy.

Do you just want us to link out to the metadata in a new tab like [this](https://api.dandiarchive.org/api/dandisets/000052/versions/draft/assets/46006535-59e4-49d1-88ee-fcf33da6cf7d/)? If not, what exactly do you mean?

[2021-07-19 21:25] satra commented on #654
yup. exactly that for now. we can create prettier views later on.

[2021-07-19 22:01] yarikoptic commented on #586
Now that API does provide sizes for directories and assets in `/files` endpoint:

<details>
<summary>demo invocation with both directories and files/assets</summary>

[code]
</details>
this should be easy and desired (NWB folks even mentioned today in the "NWB-DANDI sync" meetup) feature.  May be while at it modified timestamp should be shown too?

[2021-07-19 22:03] yarikoptic commented on #644
let's consider this a duplicate of earlier #586 . Now that API returns sizes for `/paths/` endpoint, fix should be trivial and without extra performance hit

[2021-07-19 22:03] #644 closed

[2021-07-20 01:37] satra opened #801 "number of files missing in list view"
the count of files is missing in the dandiset listing view.

![image](https://user-images.githubusercontent.com/184063/126248956-7c654285-5eaf-46b5-9d7d-782381f0c5fe.png)

[2021-07-20 01:44] satra commented on #638
closed via #773

[2021-07-20 01:44] #638 closed

[2021-07-20 14:47] satra opened #802 "improve size formatting and sorting for file/folder view"
would be nice to not have the wrap around for size.

![image](https://user-images.githubusercontent.com/184063/126344845-d9b242d2-8923-4e0a-93e8-7c5d89d87f29.png)

[2021-07-20 15:11] waxlamp commented on #792
Yes, it should work on production as well. The procedure was aimed at staging since that's where it's safe to play without a hazmat suit on, etc.

[2021-07-20 15:11] #792 closed

[2021-07-20 15:12] waxlamp commented on #654
This has been done via #800 (attn: @satra).

[2021-07-20 15:22] #801 closed

[2021-07-20 16:41] satra commented on #802
@mvandenburgh - did this also address the sorting issue?

[2021-07-20 16:55] mvandenburgh commented on #802
Oh I didn't see that - no, it only addresses the size formatting. Are you referring to the files/folders not being in alphabetical order?

[2021-07-20 16:56] satra commented on #802
yes

[2021-07-20 17:34] #802 closed

[2021-07-20 17:34] yarikoptic commented on #780
With ongoing improvements to the web ui (displaying sizes etc) it is becoming very nice - thank you @dandi/dandiarchive Team!

I think that for "click" event we should just expose the direct URL to the file so browser would do the "right thing", if it would -- i.e. open .txt (or .json, .yaml etc) straight in the browser. I guess for that we would need to provide mime type in the response for that

[2021-07-20 17:35] mvandenburgh commented on #802
The sorting issue has been addressed in #806.

[2021-07-20 18:19] mvandenburgh opened #807 "Linting not working properly in CI"
Linting errors that can be automatically fixed are not reported as errors in CI testing. Instead, yarn automatically "fixes" the linting errors on the CI runner's copy of the code.

Example:
https://app.circleci.com/pipelines/github/dandi/dandiarchive/1628/workflows/02a923f3-eb43-4646-9a95-761f57cc7bdd/jobs/3239/parallel-runs/0/steps/0-103

This seems to be the cause of this mystery https://github

[2021-07-20 18:31] #807 closed

[2021-07-20 21:48] waxlamp commented on #780
I think the direct URL link should go into an action button on the right column alongside the delete and download buttons, and we should indeed disable clickability of the full item, until we have a metadata panel to show as we had before.

I'd like some other opinions from folks: @dchiquito, @mvandenburgh, @jtomeck, @satra?

[2021-07-22 13:11] jtomeck commented on #780
In my mockups I've been just including icons for this sort of thing. I +1 the idea of removing the clickability of the whole row and include a `mdi-link` or `mdi-link-variant` on the right that links to the direct URL.

[2021-07-22 13:34] yarikoptic commented on #780
I am ok with just disabling it for now, but I still think that eventually clicking on it should provide some kind of a "view" of the file, instead of metadata.  My reasoning:

- "click" action should be harmonious between folders and files
- for folders it must be "go to", or in a word, "view" that folder
- folders are not 1st class citizen, and lack their own metadata but eventually we might summ

[2021-07-22 14:08] waxlamp commented on #780
@yarikoptic I like your reasoning. The only problem is, we don't currently have anything to show as the view of a file. This is an opportunity for engineering a cool solution: for example, I can imagine registering file viewers per type which would open either in a modal, etc., or in a new window. Though to be honest, I think that action would go better in an action icon as well. However, all of t

[2021-07-22 16:48] yarikoptic commented on #780
well, fancy viewers would be nice, but most likely just providing a proper mime type to the browser would be sufficient for it to open/visualize such types as json which would be appreciated by a number of users in its avoidance of a full download / open somehow else.  E.g. click on http://datasets.datalad.org/ and click on datapackage.json at the bottom and you see it right away ;)

as for fancie

[2021-07-23 20:07] yarikoptic commented on #613
Fresh instance -- trying to delete an asset from a versioned release of 000029. Delete modal is shown (shouldn't even be I guess) and then it doesn't go away but console logs the error
![image](https://user-images.githubusercontent.com/39889/126835832-9f32b57e-7519-4fa5-9bea-3ab5c1105822.png)

[2021-07-23 20:20] yarikoptic opened #811 "DLP results in errors logged to the console"
go to https://gui.dandiarchive.org/#/dandiset/000029/draft and open console:

![image](https://user-images.githubusercontent.com/39889/126837230-b9a56ff8-bbb4-47ef-94a3-761a3adfdccd.png)

edit: IMHO there should be no errors logged in the console from JS frontend upon "read-only" user operations, even if a dandiset is not entirely kosher for Publish or otherwise defective.  Defects in metadata etc

[2021-07-23 20:54] yarikoptic opened #812 "Enable Sentry to collect client (browser) side errors/warnings"
I thought to bolt it on top of webshots repo, but since that one is public while errors might have some secrets leaked, decided against that.  @waxlamp mentioned that it is possible to be done via Sentry, so I think it should be done since otherwise it seems many (well -- all?) client-side errors (such as #811) go unnoticed.  Then regular webshots run will sweep through dandisets and trigger sentr

[2021-07-23 21:38] yarikoptic commented on #811
FWIW, not specific to 000029 and seems to be present on all dandisets!

[2021-07-24 17:28] yarikoptic opened #813 "view data: some "update" is happening twice?"
I was admiring the speeds of refactored "View data" which now also shows directory sizes -- just awesome, great work @dandi/dandiarchive team!

I was a bit surprised to see at https://github.com/dandi/dandi-api-webshots/#000045 that rendering of dandiset 000045 with 6k assets takes only 0.8 second, while of [000020](https://github.com/dandi/dandi-api-webshots/#000020) with 4k takes over 2 seconds.

[2021-07-24 18:00] satra commented on #771
i think this could go straight. the only reason that's there is that we could then change the about link universally.

[2021-07-26 15:18] waxlamp commented on #768
@yarikoptic, are you seeing this when blocking third-party cookies? I have my browser (Brave) set to disallow third-party cookies and the archive works just fine for me. If I disable _all_ cookies then I do get a broken (i.e., blank) site and we should definitely display an actual error message in that case, but I'm confused about your reports in the other thread (https://github.com/dandi/dandiarc

[2021-07-26 15:57] yarikoptic commented on #768
IIRC:   It was not about native visiting dandiarchive (cookies are native them) . dandiarchive's cookies become 3rd party whenever dandiarchive.org is in iframe.

[2021-07-26 18:59] waxlamp commented on #768
Oh yes, thanks for reminding me.

[2021-07-26 19:49] mvandenburgh commented on #811
I believe this is a duplicate of https://github.com/dandi/dandiarchive/issues/772

[2021-07-26 19:55] waxlamp commented on #811
If you're sure it's the same error, go ahead and close this in favor of #772.

[2021-07-28 03:56] satra opened #817 "ethics approvals not shown properly"
example: https://dandiarchive.org/dandiset/000055/draft

[2021-07-28 20:59] mvandenburgh commented on #811
Closing this issue then.

[2021-07-28 20:59] #811 closed

[2021-07-28 21:01] #772 closed

[2021-07-29 17:10] mvandenburgh commented on #768
I was able to fix the crash that occurs from our OAuth client attempting to access localStorage, but strangely enough VJSF also attempts to access localStorage (and subsequently crashes the page if third party cookies are disabled). This seems to be a bug in the library since I can't find any mention of localStorage/third party cookies in the VJSF docs.  As far as I know (someone please correct me

[2021-07-30 14:03] yarikoptic opened #821 "Add a context menu with options for "opening" an asset (or dandiset, folder?) on external services"
original idea: https://github.com/dandi/dandiarchive/wiki/WiP:-dump-of-thoughts-on-%22services-registry%22

An [issue](https://github.com/MetaCell/nwb-explorer/issues/244) with metacell nwb viewer resolved , so we have no roadblock to start working on this feature to gain initial integrations. And bisweb might be just a CORR tune up away: https://github.com/dandi/dandi-infrastructure/pull/88 .

Si

[2021-07-30 19:33] waxlamp commented on #781
Hey @bendichter, sorry we never got back to you about this.

Can you check again and see if you're still getting that same error? Things have advanced since you filed this and it's possible that the specific problem has been fixed.

[2021-07-30 19:38] bendichter commented on #781
Thanks for following up, @waxlamp, I'm pretty sure this has been fixed now.

[2021-07-30 19:38] #781 closed

[2021-08-03 20:11] bendichter opened #825 ""Last updated" field shows current datetime"
![image](https://user-images.githubusercontent.com/844306/128079295-1063fd08-c493-4999-ade9-4614a56edd58.png)

The "Last updated" field shows the current datetime. When I refresh the page, the last updated field changes to the now current datetime, even though we are not making any changes to the dataset.

[2021-08-03 20:38] yarikoptic commented on #825
that's the hope! ;)

[2021-08-03 20:43] yarikoptic commented on #825
if datestamps for overall dandiset (not version) record, then it seems we are ok:
[code]

`/versions` endpoint also doesn't give any "current date":
[code]
so I guess it is indeed some UI defect, and otherwise dandiset metadata is "safe" (not some kind of an artifact triggering an update of datestamp upon some GET operation)

[2021-08-03 21:53] waxlamp commented on #825
Wow, nice find!

Indeed, the internal application state seems to be reporting correct "last modified" times for dandisets, and somehow the current time is nonetheless being injected into the frontend. Looking into it.

[2021-08-04 03:51] #817 closed

[2021-08-04 14:05] #825 closed

[2021-08-04 18:28] yarikoptic commented on #140
FWIW and FTR an updated use-case -- staging web ui with staging api server (so dandisets have no correspondence with production server(s)) points to main redirector:
![image](https://user-images.githubusercontent.com/39889/128234739-5505b0ca-e586-4e46-8842-569bce620564.png)

redirector url should be a part of the deployment configuration.  If not provided (e.g. if we don't have staging redirector

[2021-08-05 16:05] mvandenburgh commented on #694
Keeping this open until the cause of https://gui-staging.dandiarchive.org/#/dandiset/000020 freezing is determined.

[2021-08-05 18:20] waxlamp opened #827 "Validation error list doesn't update after fixing"
To reproduce:
1. Create a new dandiset.
2. Note that the validation error list complains about missing license.
3. Click on "fix issues", add a license, and save.
4. Note that the validation error list has not changed.
5. Refresh the page.
6. Note that the missing license error message is now gone.

[2021-08-06 14:23] mvandenburgh opened #830 "Add mechanism to front end to indicate version metadata validation is pending"
The front end should show some kind of indication that version metadata is being validated. Right now it just displays the old validation status, which is misleading.

[2021-08-06 14:29] waxlamp commented on #735
Closed via #796

[2021-08-06 14:29] #735 closed

[2021-08-06 17:07] mvandenburgh opened #831 "What happens when multiple people are using the meditor on the same dandiset simulataneously?"
We may want to consider some kind of locking mechanism to prevent people trampling each other's edits.

[2021-08-06 18:34] satra commented on #831
we may also want to consider something like https://togetherjs.com/ for owners who are logged in and click the metadata editor.

[2021-08-06 19:08] yarikoptic commented on #831
note that it might be not "people" but "us (some metadata migration/mutation/enrichment directly within dandi-api) + a user" so ideally it might need to be at dandi-api level

[2021-08-09 13:51] sanuann commented on #755
is this issue resolved?

[2021-08-09 16:50] waxlamp commented on #755
I don't think so: look at this dandiset for example https://gui.dandiarchive.org/#/dandiset/000050.

New dandisets do have the creator added as a contributor, and I don't think adding an owner to a dandiset adds them as a contributor (nor am I sure that we want that to happen--@satra?).

This issue is not really about those policies though--this has to do with adding owners as contributors to curr

[2021-08-09 17:22] satra commented on #755
i think new dandisets add the owner/creator as contributor + contactperson and i think that is correct.

regarding older dandisets, we should do the same for all dandisets missing a contributor.

[2021-08-09 18:41] mvandenburgh opened #832 "Update and re-enable dandiarchive e2e tests"
The e2e tests were written for the old girder 3 setup and were disabled after the django migration. They should be updated so they work on the current web client and Django server.

This has been a thing for a while, but I didn't see an issue for this filed anywhere.

[2021-08-09 18:43] waxlamp commented on #755
Do we add *all* owners as contributors? Which one do we mark as the contact?

[2021-08-09 18:59] satra commented on #755
for the pass through old dataset, i would say add all and make all `contactPerson`. they can change it if they want. this should only be done for those dandisets that have no contributors.

[2021-08-09 21:18] mvandenburgh commented on #768
#833 fixes this "localStorage" error in our OAuth client and an upstream fix for vjsf has been merged https://github.com/koumoul-dev/vuetify-jsonschema-form/pull/283, so this should be solved now.

@yarikoptic can you test with https://deploy-preview-833--gui-dandiarchive-org.netlify.app/ and let me know if this issue is resolved for you?

[2021-08-10 17:11] yarikoptic opened #835 "Edit or View Metadata freezes browser"
addition to a generic #662

I could trigger only on staging ATM and on some (but not all, if I got my ownership right) dandisets

If I login and go to https://gui-staging.dandiarchive.org/#/dandiset/000020 , and hit "Edit Metadata" - it freezes my chromium tab.  Eventually browser says that page is non-responsive and then Aw, Snap.  I reloaded, logged out, clicked "View Metadata" and got the same

[2021-08-10 18:01] yarikoptic commented on #835
FWIW, doesn't happen for any preceding dandiset (from 000001) and crashes on 000020 (discovered while preparing https://github.com/dandi/dandi-api-webshots-staging )

[2021-08-10 18:19] sanuann commented on #753
@waxlamp is this done? if not, can I work on this?

[2021-08-10 18:21] sanuann commented on #770
@waxlamp can you please provide an example (or some detail) of what this is about?

[2021-08-10 18:31] sanuann commented on #775
is this resolved or is someone working on it?

[2021-08-10 18:38] sanuann commented on #679
right now, when trying to re-login I do not see the "Authorize DANDI GUI" page. it just logs me in but brings me to the top landing page. so I am assuming this is not yet fixed?
Can I work on this @waxlamp?

[2021-08-10 18:52] waxlamp commented on #835
@mvandenburgh and I did some investigation just now.

We figured out that migrating 000020's metadata to the latest schema, followed by manually having the server revalidate it, "solves" the problem of freezing the browser, but we don't know why. Mike is continuing to investigate how the metadata is crashing the browser in his local setup. But for now, @yarikoptic, you should no longer have any tr

[2021-08-10 19:07] yarikoptic commented on #679
@waxlamp IIRC already addressed having not-needed "Authorize DANDI GUI" dialog. The original issue (not going to the original page) indeed was not resolved yet AFAIK.

[2021-08-10 19:38] yarikoptic commented on #835
didn't test "first hand" but next attempt to run https://github.com/dandi/dandi-api-webshots-staging finished with
[code]
so I guess that some series of datasets which were created at some point would trigger this issue.

[2021-08-10 19:52] waxlamp commented on #753
I don't think so--you can always check by opening the deployed app and seeing whether the feature exists or not.

Please do. I've assigned you to the issue.

[2021-08-10 19:54] waxlamp commented on #770
I believe this has to do with allowing for an image to optionally be specified to go with a dandiset. Then in the public dandisets view, for example, that image would be shown alongside its dandiset entry.

@satra, @yarik: can you confirm my memory of this?

[2021-08-10 19:59] mvandenburgh commented on #835
I figured out the source of the freezing. The `roleName` field was using the old `dandi:ContactPerson` syntax that hasn't been used since schema version 3.x, but the `schemaVersion` field said the metadata was on schema version 0.4.4 which uses the `dcite:ContactPerson` syntax. Changing the `roleName` field to use the 0.4.4 syntax fixes the freezing.

Not sure how this happened, maybe a schema mig

[2021-08-10 20:00] waxlamp commented on #775
I consider this something to solve during the DLP redesign (#687), so @jtomeck is on point for it. If we need those URLs to be hyperlinks in the meantime, then you can go ahead and work on this issue, and the redesign will simply account for showing these as links when we get to implementing it.

[2021-08-10 20:06] waxlamp commented on #835
If you can cook up a repro to send upstream to VJSF, that would be cool.

Otherwise, can we easily fix the problem on all existing dandisets? If we can, then I think that would be the cue to close this issue.

And finally, is there something we can file against dandischema? Probably not at this time, I'm guessing. If this happens again, at least we'll have one new place to look immediately.

[2021-08-10 20:08] waxlamp commented on #679
Right, the problem now is simply that if you're logged out on a DLP, and then you log in, you are redirected to the front page rather than where you were.

I can think of some hacky ways to fix this that include saving the URL in local storage when the login button is clicked, but I don't know if that's a bad idea. If you want to work on this, please consult with @dchiquito about solution strategi

[2021-08-11 00:20] satra commented on #770
to truly allow this the cli has to allow pushing other types of files to dandi without the use of the devel options. for example we could allow an infographic.png, but we need to determine:
- extension supported (only png, or png + svg)
- fixed name of file
- decide whether only at root of dataset
- do we add a metadata field for this thumbnail(??) or do we allow for a bytestream in the metadata i

[2021-08-11 01:56] yarikoptic commented on #770
- client could allow upload of images
- metadata/meditor allow to associate (found) image assets as thumbnails

[2021-08-11 03:41] #771 closed

[2021-08-12 15:41] #685 closed

[2021-08-12 18:40] bendichter opened #838 "subject matter editor bug on published data"
https://user-images.githubusercontent.com/844306/129250819-15b3b5ed-5225-480e-819e-11b15a292169.mp4

The subject matter entry is blank when you go back into the metadata editor, but the entry is still there on the dandiset landing page

[2021-08-12 21:04] waxlamp commented on #821
An "open with" menu that has a list of services we have "registered" in the client is a good idea.

[2021-08-12 22:15] satra commented on #838
@mvandenburgh - is it possible that the ui is using the schemaVersion from the metadata instead of the infrastructure schema? in that sense 0.4.4 is definitely broken for vjsf.

[2021-08-13 13:47] mvandenburgh commented on #838
No, the UI uses the schema from the infrastructure repo (currently 0.5.1, just double checked it).

[2021-08-13 16:44] bendichter opened #841 "add owner bug"
https://user-images.githubusercontent.com/844306/129392282-665a0b39-3952-4d31-885c-e2d30f1ad805.mp4

I am unable to add an owner to a dandiset

[2021-08-13 16:46] bendichter commented on #841
cc @Saksham20

[2021-08-13 18:50] dchiquito commented on #841
I manually added Saksham as an owner, but this bug still needs addressing.

[2021-08-13 22:32] #841 closed

[2021-08-15 18:16] bendichter commented on #790
The help text on licenses should link this this page: https://creativecommons.org/licenses/

[2021-08-15 18:20] bendichter commented on #790
Even on that site though it's not clear what the difference is between CC0 and CC-BY. Is is that CC0 releases all rights, including credit attribution, and puts the work in the public domain? I think it would be unlikely for a scientist to choose this option, and I would expect them all to want at least credit attribution. I'd expect CC-BY to be the most common. Is there any sort of dark pattern w

[2021-08-15 18:21] bendichter commented on #790
Also, the interface allows you to select more than one license at once. Is that intentional? It seems like the compatibility of CC makes that unnecessary.

[2021-08-15 18:26] satra commented on #790
all of openneuro is under CC0. so it's not that scientists do not choose CC0, many do and intentionally so. you can still get attribution through citation even when the dandiset is released under CC0.

the issue with multiple licenses has to do with when we get to mixed license dandisets combining assets from differently licensed assets? at present we expect people to choose 1 license. it also doe

[2021-08-15 18:32] bendichter opened #843 "publish button failing on dandiset 53"
https://user-images.githubusercontent.com/844306/129488742-e396ab78-5ae4-4326-a103-f62bfe2700d5.mp4

[2021-08-16 13:16] dchiquito commented on #843
The logs suggest this is a problem with `relatedResource` in the metadata:
[code]
Presumably this shouldn't pass validation, but it obviously has.

[2021-08-16 13:19] dchiquito commented on #843
https://github.com/dandi/dandischema/blob/92f303e5cc9edeaf1c1369930e37bc203e97f2e0/dandischema/datacite.py#L175-L198 is the problematic code. Looks like it's not equipped to handle an `identifier` with a URL.

[2021-08-16 13:36] satra commented on #843
@bendichter - one way to handle this is to make the identifier a `doi` as datacite wants it: `DOI:10.1038/s41467-021-20936-8`

@dchiquito -  we indeed should augment the link processing in that section in dandischema knowing that in general identifiers can be urls. @djarecka - do you want to take a stab at this? i.e. the doi code should parse the url to see if it matches some known entity like doi

[2021-08-16 13:47] bendichter commented on #843
@satra OK, but it's pretty unclear from a user perspective what form to use for the identifiers. The automatic ones in the Asset Summary seem to suggest that we want them as URLs.

![image](https://user-images.githubusercontent.com/844306/129573809-f4d353c8-c67c-4cf3-9f34-8d3e5ffcf4cc.png)

[2021-08-16 13:54] bendichter commented on #790
@satra I am no license expert, I'm just going based on the website, but my understanding is that the difference is when using a CC0 license reusers of the data _may_ cite you, but are not required to and can completely neglect to acknowledge the original source of the data. When using CC-BY reusers of the data _must_ cite you or at least acknowledge the original data source in some way. If that un

[2021-08-16 14:10] satra commented on #790
yes, your understanding is correct. the reason is that there are many who are willing to break out of that standard mold, at least for certain things, as openneuro has demonstrated.

one could generally ask the question: should there be anything in the public domain? there are a few lenses to see this through. One, the idea of the Commons and [the commoning process](https://en.wikipedia.org/wiki/C

[2021-08-16 14:14] satra commented on #843
@bendichter - we should allow URLs there, just that the dandischema code needs to be updated. i'm simply suggesting the `DOI:` route as a short term fix, if you would like to have publish work before the code fix is in place.

[2021-08-16 15:13] #768 closed

[2021-08-16 17:34] djarecka commented on #843
so, the problem is that `attributes["relatedIdentifiers"][i].identifier` could have `url` and we should process it in the same way as in the [elif part](https://github.com/dandi/dandischema/blob/92f303e5cc9edeaf1c1369930e37bc203e97f2e0/dandischema/datacite.py#L189)?

[2021-08-16 18:57] satra commented on #843
you would then have to parse the url to see if it matches any of the known identifier patterns, if so reduce the url to identifier and proceed. if not, process in the same way as the elif part.

[2021-08-16 20:33] waxlamp commented on #813
It looks like the real fix here is to paginate the file browser view so that it doesn't try to display 6000 assets in one go. In fact, I think 2 seconds to render that many elements is pretty good--I don't believe there's a real performance issue here (other than, as I said, the lack of pagination).

The code you found is within the Vue runtime, which we really shouldn't need to wade into.

[2021-08-16 20:34] waxlamp opened #844 "Paginate the file browser view"
This results from a discussion on a different issue: https://github.com/dandi/dandiarchive/issues/813#issuecomment-899800641.

The basic idea is, if you have a dandiset with many (say, 6000) assets, the browser view should not try to show all of them in one page.

[2021-08-16 20:34] waxlamp commented on #813
Closing in favor of #844.

[2021-08-16 20:34] #813 closed

[2021-08-16 22:46] yarikoptic commented on #813
@mvandenburgh is getting a grip on that , so do not brush such an opportunity off entirely ;) as such I see #844 complimentary and not a replacement of this one, although may be with pagination (albeit dandi-api side would be the same work for the directories since needs to go through all) performance might get to the range of "I do not care"... yet to be seen I guess

[2021-08-16 23:22] waxlamp commented on #813
This is my strong suspicion. If I am wrong, I will of course re-open this issue. But my experience+intuition tells me that rendering 6000 items in 2 seconds is not actually a performance issue of double rendering anything, but rather a UX issue that is precisely solved in general by pagination.

As you said, since Mike is looking into it, let's see if solving #844 solves the performance as well.

[2021-08-17 12:14] mvandenburgh commented on #835
Update: this problem was fixed in vjsf 2.3.1.

[2021-08-17 12:14] #835 closed

[2021-08-17 12:38] yarikoptic commented on #835
Issue filed/fixed: https://github.com/koumoul-dev/vuetify-jsonschema-form/issues/289

[2021-08-19 03:47] bendichter commented on #843
This worked for me.

@Saksham20, could you use this work-around for dandiset 54 as well?

[2021-08-19 12:31] Saksham20 commented on #843
Yes, removing the url and suffixing the doi with `DOI` worked on dandiset 54

[2021-08-19 15:10] waxlamp commented on #687
The design is here: https://www.figma.com/file/rBobiAvSLCsJmyYUYmU1OX/DLP?node-id=160%3A9348.

@mvandenburgh will begin implementing this design.

[2021-08-19 15:10] #687 closed

[2021-08-19 15:17] waxlamp opened #847 "Re-enable end-to-end testing"
We are running into more frontend bugs because of bugfixing and feature implementation in the API, so we need these up and running again.

[2021-08-19 15:19] waxlamp commented on #847
Dupe of #832

[2021-08-19 15:19] #847 closed

[2021-08-20 19:49] #832 closed

[2021-08-23 19:16] yarikoptic opened #851 "add "yellow" state of the "dataset status" while processes are still running and no errors so far"
per a brief discussion during stand-up and inspired by the question of @bendichter on slack last week on the status of the dandiset after a sizeable upload, I think we might improve UX if besides purely "Red" state, we add a "Yellow" ("in progress") state.

ATM we have only Red as

![image](https://user-images.githubusercontent.com/39889/130504473-5688c131-3d12-4c8f-92a1-c670c5a89639.png)

which w

[2021-08-24 21:01] mvandenburgh opened #855 "Use TypeScript and Vue Composition API in components"
Many of the UI components still use regular JS and the old Vue Options API. These should be converted to use TypeScript and the Vue Composition API (where practical).

[2021-08-24 21:01] mvandenburgh commented on #855
Opening this as I have begun converting components as I work on them as part of the DLP redesign.

[2021-08-30 19:24] bendichter opened #858 "do we allow custom licenses?"
The Allen Institute has their own custom license. This is referred to, e.g. in the description of [dandiset 39](https://dandiarchive.org/dandiset/000039/draft):

Meanwhile, this dataset does not pass validation for publication because there is no selected license in the metadata editor. Clearly, none of those options would be perfect for this dataset, because they have their own license. I don't t

[2021-08-30 20:14] satra commented on #858
we presently do not allow custom licenses. we can always ask any dandiset to pick a license that's closest to the intent.

[2021-08-31 12:54] yarikoptic commented on #858
eh, and the largest aspect of that ad-hoc license is the "non-commercial".  Stepping into those murky waters (of what is commercial what not) leads them to *enhance* with other vague permissions such as "you may, without obtaining further license or permission, publish a limited set of the Content in a scholarly journal, textbook or other professional, academic or journalistic publication (with ap

[2021-08-31 13:01] yarikoptic commented on #858
not sure even if you @bendichter have permission to do anything with this data, since "or use of the Content to perform a commercial service for a third party" heh heh

[2021-08-31 13:30] waxlamp commented on #851
This would be a subtle but valuable enhancement.

I think it would just be a matter of detecting whether any job is running on the dandiset, and offer an indication of that job in the metadata error menu (much as you suggest). I don't know if "yellow" is better than using a throbber. And in general, this feature would open the way towards a bit of UI that would let you inspect running jobs for the

[2021-08-31 15:25] waxlamp commented on #858
Licenses are legal instruments, with actual force in the real world (unless and until some higher legal power shifts the flow of things in a particular case). I don't think it's viable to ask data owners to pick a "closest" license--that defeats the purpose of licensing for open source / creative commons usage.

[2021-08-31 16:34] bendichter commented on #858
@yarikoptic yes, thanks for alerting me to this. I have chatted with Allen people about this license issue. I think having a private company help them make data accessible to researchers is sufficiently within the spirit of the license that I'm not concerned. That verbiage is really for companies like pharmaceuticals that might mine this data for drug development.

[2021-08-31 17:52] #821 closed

[2021-08-31 20:25] yarikoptic opened #859 "UX: be able to see issues to fix in meditor modal window"
ATM the workflow is - click on "issues" icon or sidebar (in DLP redesign #857) to see which issues are detected, click "Fix issues" and user then ends up in meditor which feedback or easy way to see what issues they were.

A quick workaround would be to place the same omnipresent (across meditor views) icon with modal appearing upon click which would list those issues to be fixed.

[2021-08-31 20:36] yarikoptic commented on #662
@waxlamp @mvandenburgh - do you see a way to establish some "watchdog" for a loading meditor, so if it fails to load e.g. in 20 seconds, it would time out and provide an error message to file an issue here? (could even prepopulate the body of the message via URL content with details on the browser and exact url)

[2021-08-31 20:51] yarikoptic opened #860 "Make meditor "ok" (store) vs "cancel" (disregard) changes action consistent across modal subwindows"
<details>
<summary>on top level we have "<-" (cancel) and "floppy" (ok/save) icons on **top** of the display, with click on "<-" warning about possibly lost changes which is awesome:
</summary>

![image](https://user-images.githubusercontent.com/39889/131572575-b160d3dc-a0ff-4282-819b-899c5ef5aaf8.png)

</details>

<details>
<summary>one level down, in e.g "Dandiset contributors" which brings up "

[2021-08-31 21:12] waxlamp commented on #859
Good idea.

[2021-08-31 21:14] waxlamp commented on #662
It's a good question. Unfortunately, I am pretty sure the answer is "no", but maybe there is something out there I'm not aware of.

Are you finding long loading times still on a particular dandiset?

[2021-08-31 21:18] waxlamp commented on #860
We can look into this, but the reason for the nice features at the top level, and the lack of them down below is that the down belows are all rendered by VJSF directly. There is probably a way to influence how the save/cancel actions are rendered, but I don't know how much control VJSF gives over to the client here.

@mvandenburgh is the right person to investigate this, but I will consider this t

[2021-08-31 21:32] yarikoptic commented on #662
Not at the moment!  But I think to get this particular issue "Closed" fully, if there is an opportunity to ensure "must not freeze", that would be the way.  Thus decided to run an idea by you.

[2021-08-31 21:41] mvandenburgh commented on #662
Well, there's still a ~10 second lag on https://gui.dandiarchive.org/#/dandiset/000026 (not as bad as the loading times we used to see, but still not acceptable from a UX standpoint I think)

[2021-08-31 21:47] mvandenburgh commented on #860
Yeah VJSF does offer some options for customization, I just have to spend time looking into it since iirc the docs for it are pretty minimal. Somewhat related to https://github.com/dandi/dandiarchive/issues/692

[2021-08-31 22:04] yarikoptic commented on #662
yeap, max time somehow consistent between deployed and staging instances ATM, it is 9 sec on https://github.com/dandi/dandi-api-webshots-staging#000032 .  Indeed not optimal UX but at least not halting the entire page (this issue) for minutes causing browser to announce the ultimate death ;)

[2021-09-01 17:43] waxlamp commented on #662
I did a bit of profiling on 000026, and I see that the bulk of the slowdown time is spent in Vue's DOM/layout/etc. computations, specifically within a watcher. I didn't dive much deeper than that. @mvandenburgh, maybe you can do a bit more investigation here, play around with VJSF options, and maybe even ask VJSF for help in diagnosing what's going on here.

[2021-09-02 20:41] yarikoptic commented on #679
I bet there is some option to that github authorization endpoint to provide a redirect url. That redirect url should just be the original url where "LOGIN VIA GITHUB" is clicked. ... yeap: https://docs.github.com/en/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps#1-request-a-users-github-identity

redirect_uri | string | The URL in your application where user

[2021-09-02 21:20] waxlamp commented on #679
The naive thing I can think of is to record `window.location` in `localStorage` at the time the login button is clicked, go through the auth workflow, and then when the user arrives back in the app, check for the recorded URL and navigate there immediately if found.

This is likely somewhat fragile. But it would work, and of course if there are better ways we should use them.

[2021-09-03 17:51] dchiquito commented on #679
I think localStorage is probably the only way to do this.

[2021-09-03 18:14] waxlamp opened #863 "Ownership panel is confusing"
The ownership panel on a dandiset just says "Ownership", then presents a search box and several chips with usernames. It's not self-evident what to do with this, nor how to effect changes.

[2021-09-03 18:16] waxlamp opened #864 "Back button in metadata behaves somewhat unexpectedly"
Go to any DLP, then click the "metadata" button. Now click the browser back button, and you will arrive at whatever page you were on *before* the DLP. This is because the metadata button doesn't create a history entry, even though it looks like a new page.

We can't simply create that history entry, because then the back button would go back to the DLP, discarding all in-flight changes (users are

[2021-09-03 18:20] waxlamp opened #865 "Dropdowns in DLP should not behave like material design buttons"
The "download", "shareable link", and "cite as" dropdowns behave like they are regular buttons with attached popovers. Specifically, they show the material design "bloop" effect when clicking on them, and there's a slight delay before the menu portion appears.

If this is standard vuetify behavior for dropdowns, then this can probably be closed. But it would be better to not have the buttons boop

[2021-09-03 18:21] waxlamp opened #866 "Don't allow self-removal from dandiset owners without a warning"
Currently it is possible to use your ownership permissions to remove yourself as an owner. This becomes an irreversible action, requiring contacting another owner or the admins to be re-added. Since it's such an easy action to take (at least, in the DLP redesign), we should put up a guard to stop it from happening by mistake.

[2021-09-03 18:23] waxlamp opened #867 "Too much of the side panel is invisible without scrolling"
The DLP redesign includes several important sets of data in the righthand side panel, including dandiset actions, ownership, validation status, and version history. But much of this stuff (on my screen, at least) is not visible without scrolling.

[2021-09-03 18:39] waxlamp opened #868 "Remove the material design "bloop" from file viewer items"
Clicking on the file viewer items doesn't do anything, yet it causes a huge material design "bloop" to occur. It's jarring, especially when nothing else happens.

We should additionally stop this from happening when one of the icons or the menu is clicked.

See [Mike's comment](https://github.com/dandi/dandiarchive/issues/868#issuecomment-912789953) below for a demo of the "bloop".

[2021-09-03 18:44] mvandenburgh commented on #866
This was an issue in the old UI too https://github.com/dandi/dandiarchive/issues/747

To clarify things, the server request actually fails if you attempt to remove the last owner of a dandiset. This isn't reflected in the UI though, so it appears that the owner has been removed. I'll close this issue and apply the 'dlp redesign' label to the older issue so this stays on my radar.

[2021-09-03 19:04] mvandenburgh opened #870 "Move metadata schema types into a npm package"
Relevant comment from @dchiquito:

https://github.com/dandi/dandiarchive/pull/862#pullrequestreview-746389152

[2021-09-03 19:46] yarikoptic commented on #868
is this related/duplicate of https://github.com/dandi/dandiarchive/issues/780 since I am not 100% certain I know what the "bloop" is? ;)

[2021-09-03 20:17] djarecka commented on #868
I thought that "file viewer" means the new icon to view file, but now I'm not sure. And don't know how to recreate the problem

[2021-09-03 20:22] mvandenburgh commented on #868
![Peek 2021-09-03 16-19](https://user-images.githubusercontent.com/37340715/132061471-34705182-473c-452a-be83-611c5c113911.gif)
Note the effect that happens when the file is clicked (the "bloop" :slightly_smiling_face: ).

@waxlamp are you saying the effect should be disabled for files + folders, or just files? It doesn't seem out of place for it to occur when clicking on folders, since that actua

[2021-09-03 20:28] mvandenburgh commented on #867
Do you mean scrolling horizontally or vertically? (I'm guessing horizontally, but just want to clarify since I don't have this issue on my screen).

[2021-09-03 20:45] yarikoptic commented on #868
IMHO just "doing nothing" is a waste of the UX space -- why not to implement "view" action for files, as suggested/discussed in https://github.com/dandi/dandiarchive/issues/780#issuecomment-885061015  which would be just providing download links but with correct mime types (I guess) for those which we know so browser would open them "natively" (e.g.  a json file within https://gui-staging.dandiarc

[2021-09-03 21:24] waxlamp commented on #866
This is not a dupe of #747. This is specific to the irreversible action of removing *yourself* (when you are not the sole owner) of a dandiset.

[2021-09-03 21:30] waxlamp commented on #868
Sorry for not being clear in my original text; see [Mike's comment](https://github.com/dandi/dandiarchive/issues/868#issuecomment-912789953) for what I meant.

I personally don't like the bloop on any of the file viewer items at all, mainly because the file viewer items are *not* material design buttons. I would like to hear from @jtomeck to either validate or contradict my feeling on this.

@yari

[2021-09-03 21:36] waxlamp commented on #780
IMO clicking on a file in the viewer should, by default, simply show some kind of extra info about that file, the way the Girder3 client used to do. I'm against causing that click to open a viewer or any other app in a separate window, since in many systems clicking once on a "file" never does anything that heavy.

I believe the difference between folders and files strengthens my position: what we

[2021-09-03 21:47] yarikoptic commented on #780
FWIW, to get a file displayed, not downloaded, presigned url must have been generated with the corresponding `ResponseContentType` provided instead of `ResponseContentDisposition` [here](https://github.com/dandi/dandi-api/blob/HEAD/dandiapi/api/views/asset.py#L56) . Providing ContentDisposition makes browser download the file instead of displaying it.  Here are two sample presigned urls to the sam

[2021-09-04 18:21] satra opened #872 "Better search indexing"
At present the web ui is not well indexed by google. i've submitted a request. other options are:
1. to prerender:  i can enable prerendering on netlify or we can run this https://prerender.io/ for more custom capability
2. submit a sitemap separately. i'm thinking of generating this automatically using the datalad job for dandiarchive.org

also we need to inject the dandiset metadata into the htm

[2021-09-06 16:13] waxlamp commented on #867
I meant vertically. We might need to compare each others' screens to fully grok what's going on. We can do that at Tuesday's meeting.

[2021-09-06 16:27] waxlamp commented on #872
(Huh, I thought I had filed an issue about this 🐱)

I know very little about this topic. Netlify or external prerendering seems like a fit for our app. A dynamic sitemap that indexes the DLPs was the original idea I was going to run down. I don't know how to evaluate the two types of approach, but perhaps @brianhelba knows something about it. I believe others at Kitware have also done this type of

[2021-09-06 16:54] brianhelba commented on #872
I don't have any experience with SEO for SPAs, sorry.

[2021-09-07 14:06] jtomeck commented on #868
I honestly have no strong opinions on the click effect. I don't think I'd think anything was out of place if I had clicked and that happened. I think in calling attention to it in the screencap you inadvertently emphasized it :P. I will say that Vuetify puts that effect on many things, not just buttons. Clickable list items, tabs, menu items. So, I don't think users will bat an eye at it.

[2021-09-07 15:25] waxlamp commented on #868
Thanks Jared! Ok, let's not worry about the bloop--closing this issue.

[2021-09-07 15:25] #868 closed

[2021-09-09 14:06] waxlamp opened #873 "Consider moving file count and size to DLP header"
The icons for number of assets and total dandiset size are currently next to the search bar above the DLP header. This seems like an odd place to put this info. Can we move it to the header itself, or somewhere else?

attn: @jtomeck, @satra, @yarikoptic

[2021-09-09 14:08] waxlamp opened #874 "Validation error message for bad schema version is malformed"
The error reads like this: `: Metadata version 0.4.3 is not allowed. Allowed are: 0.5.1.` (on, e.g., [staging dandiset 000001](https://deploy-preview-857--gui-dandiarchive-org.netlify.app/#/dandiset/000001).

[2021-09-09 14:09] waxlamp opened #875 "Old ownership panel was better"
The new ownership panel feels clunkier and less intuitive than the old one. Can we do a bit of design work to re-evaluate it?

attn: @jtomeck

[2021-09-09 14:52] sanuann opened #876 "Make funding section mandatory"
The funding section is present but it's just that people aren’t populating it. So we may want to make that section mandatory and say “No funding information available”.

[2021-09-09 15:02] satra commented on #873
yes, anything that's important to the scientist (and size of dataset seems to be one of those things), should be at the top of the DLP near the dandiset title. this will be the kind of thing that we flexibly alter.

[2021-09-09 15:20] waxlamp commented on #713
This has been mooted by the DLP redesign.

[2021-09-09 15:20] #713 closed

[2021-09-09 15:33] bendichter opened #877 "tweeting dandiset publications"
We should create a twitter bot that tweets every time a new dandiset is published. I think it should be triggered by publication, not creation, because often dandisets are created and not finished for several months. I don't think it should tweet about updates to existing datasets, as those will likely be minor and not worth mentioning, and it would open the door to possible spam.

[2021-09-09 15:45] yarikoptic commented on #877
agree on all points.

we should check how twitter would render the URL if we point to release DOI or our permalink.  May be there is some tune up to do at dandiarchive.  Ok -- DOI URL is not rendered: https://twitter.com/yarikoptic/status/1435991828445155328 :
![image](https://user-images.githubusercontent.com/39889/132718330-19660916-d54a-4a7f-bd71-44ce4cebc558.png)

... and none other URL has pr

[2021-09-09 15:47] yarikoptic commented on #877
ok -- apparently it is some "Twitter Cards" to be enabled/configured for the website (and probably similar for other social portals). Some references https://community.oktopost.com/knowledgebase/articles/1840804-sharing-links-and-customizing-link-previews https://nealschaffer.com/tweet-link-preview-image-twitter/

[2021-09-10 14:19] waxlamp opened #878 "Contact should show something to indicate missing contact info"
Good catch. I notice that the validation error list does say the contact is missing (though it does so by reporting an error about regexes, which doesn't seem ideal). Additionally, the contact info should either be removed from the header, or it should say explicitly that the contact is missing.

This is a problem with the design, not this PR, so I'll file an issue to fix this later (after discuss

[2021-09-10 14:20] waxlamp opened #879 "Improve responsiveness of DLP controls for narrow sizes"
the right panel moves to bottom of the page when the window became narrow (not even extremely narrow).
I think the ratio between width of the main panel and the width of the right panel could be smaller

<img width="894" alt="Screen Shot 2021-09-09 at 6 43 52 PM" src="https://user-images.githubusercontent.com/1662746/132772275-48be33a2-de69-4b23-bffc-1e4c07d25072.png">

_Originally posted by @djar

[2021-09-13 14:35] yarikoptic opened #880 "Add Share (icon) with Twitter (and later other) social media"
so anyone (not only owner) visiting the DLP could share in his social circles information about cool dataset they want to promote.

An example to follow would be https://www.biorxiv.org/content/10.1101/2021.09.13.459835v1 which has Share with various social media.

Could go alongside with "Cite as".

Related -- having a bot to tweet https://github.com/dandi/dandi-api/issues/512

[2021-09-13 15:44] waxlamp commented on #880
This would be a great one for @djarecka or @sanuann to tackle.

[2021-09-14 17:34] sanuann commented on #880
Should this be a new button beside "Cite as"? asking because we already have a "get shareable link". Can I modify that to just "Share" and then on clicking on it, it would open a modal with more info on sharing (similar to the example linked above)?

[2021-09-14 19:00] yarikoptic commented on #880
good point -- I have missed that one. I think we could indeed just "generalize" that one into Share (with icon to the share arrow) and add "Link" within that modal drop down.

[2021-09-14 21:13] waxlamp commented on #880
I thought this was quite a different thing but maybe I misunderstood: I thought the ask here was to provide a "share on Twitter" button that would take you to Twitter and pre-fill a Tweet with a link to the dandiset. That's different from both the shareable link and the citation, right?